= stylesheet_link_tag "branded"

= form_tag password_resets_path, :html => { :class => "module" } do
  %h1 Forgot Password

  %p Enter your email address and instructions on how to reset your password will be mailed to you.

  %label
    %h3 Email
    = text_field_tag :email

  %button.full Reset my password
