%label
  %h3 Text
  #post_button_bar
  = f.text_area :text, :id => "post_text"

- if params[:reply_to_id]
  = f.hidden_field :reply_to_id, :value => params[:reply_to_id]

#post_preview
%input#post_copy_html(name="copy_html" type="hidden")
