%nav
  .filters
    %a.filter.button(href='#') Arcade
    %a.filter.button.active(href='#') Featured
    %a.filter.button(href='#') Tutorials
    %a.filter.button(href='#') Recently Edited
    %a.filter.button(href='#') All
    %a.filter.button(href='#') My Projects
  %img.spinner(src='/assets/ajax-loader.gif' style="display:none;")
  .pagination
.items
