.bundle
.project
.redcar
.rvmrc
.rbenv-version
.DS_Store
config/database.yml
config/oauth.yml
config/s3.yml
config/settings.yml
config/slurp.yml
db/*.sqlite3
db/sphinx
dump.sql*
log/*.log
log/*.pid
tmp/**/*
nbproject
Pixie.tmproj
public/apps
public/assets
public/stylesheets/*.css
public/stylesheets/codemirror/*.css
public/stylesheets/pixie/*.css
public/stylesheets/editors/*.css
public/test
public/production
public/development
public/system
projects.zip
dev_email.yml
tmp/*
.jhw-cache
