.bundle
.DS_Store
config/authlogic.yml
config/s3.yml
db/*.sqlite3
lib/tasks/local.rake
log/*.log
tmp/**/*
nbproject
public/stylesheets/*.css
public/stylesheets/pixie/*.css
public/production
public/system
