/* line 2, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .canvas {
  float: left;
  background: transparent url(../images/pixie/pixel_bg.png);
  -moz-user-select: none;
  margin-right: 1em;
  margin-bottom: 1em;
  position: relative;
}

/* line 11, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .canvas.grid {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* line 16, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .canvas.nogrid {
  border-bottom: 0px;
  border-right: 0px;
}
/* line 20, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .layer {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 25, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .pixel {
  float: left;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
}
/* line 35, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .actions {
  display: block;
  margin-left: 70px;
  margin-bottom: 10px;
}
/* line 40, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .actions a.tool {
  font-size: 0.8em;
  color: black;
}
/* line 44, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .actions a.tool:hover {
  text-decoration: none;
}
/* line 48, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .toolbar {
  float: left;
  width: 55px;
  height: 200px;
  margin-right: 1em;
}
/* line 55, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .tool {
  padding: 0 2px;
  margin-left: 2px;
}
/* line 59, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .tool:hover {
  background-color: #cccccc;
}
/* line 62, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .tool.active {
  background-color: #1084ce;
}
/* line 65, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .tool img {
  border: none;
}
/* line 68, ../../../app/stylesheets/pixie/pixie.sass */
.pixie img.tool {
  padding: 2px;
  margin: 2px;
}
/* line 72, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .swatch {
  float: left;
  margin: 4px;
  width: 16px;
  height: 16px;
}
/* line 79, ../../../app/stylesheets/pixie/pixie.sass */
.pixie input.color {
  border: 2px solid;
  border-color: #cccccc;
  margin: 7px 2px 0 0;
  width: 50px;
}
/* line 86, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .preview {
  float: left;
  margin: 0 1em;
  width: 150px;
  height: 150px;
}
/* line 92, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .preview-control {
  display: block;
}
/* line 95, ../../../app/stylesheets/pixie/pixie.sass */
.pixie .guide-control {
  display: block;
}
