$default-border-radius: 8px

$default-box-shadow-color: #333
$default-box-shadow-h-offset: 1px
$default-box-shadow-v-offset: 1px
$default-box-shadow-blur: 5px
$default-box-shadow-spread: 0

$pixie_primary: #1084ce
$link_hover: #25a1ef

$dark_background: #00010d
$dark_highlight: #001c2f
$dark_box_shadow: #000F1A
$dark_text: mix($pixie_primary, white, 33%)

$light_background: #d2eeff
$light_box_shadow: #8c8c8c
$light_highlight: #b2e2ff
$light_text: mix($pixie_primary, black)

$light_gray: #aaaaaa
$dark_gray: #303030

$error_color: #CD0A0A

$editor_page_padding: 3em
$hover: #FFF6BF

$cookie_cutter_dark: #003557
$cookie_cutter_light: $light_background

$header_font: 'Josefin Sans', Arial, serif
$normal_font: "Helvetica Neue", Arial, Helvetica, sans-serif
