// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24
$blueprint-container-size: 950px
$blueprint-grid-margin: 10px

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin

=grid-width(!cols)
  width = ($blueprint-grid-width + $blueprint-grid-margin) * !cols - $blueprint-grid-margin

@mixin single-column
  display: inline-block
  +grid-width(9)
  position: relative
  vertical-align: top

$default-border-radius: 8px

$dark_background: #00010d
$dark_highlight: #001c2f
$dark_box_shadow: #566669
$dark_text: #fff
$pixie_primary: #1084ce
$light_highlight: #b2e2ff
$light_background: #d2eeff
$light_text: #000

$editor_page_padding: 3em
$hover: #FFF6BF