@mixin gloss() {
  width: 96px;
  height: 48px;

  border-top-right-radius: 38px 38px;
  border-top-left-radius: 38px 38px;
  border-bottom-right-radius: 120px 20px;
  border-bottom-left-radius: 100px 20px;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6);
}