@mixin pulse() {
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale(1.0);
    }
    50% {
      -webkit-transform: scale(1.2);
    }
    to {
      -webkit-transform: scale(1.0);
    }
  }
}
