:plain
  Hello #{to.display_name},

  #{from.display_name} thinks that your Pixie #{type}
  is really interesting so they left you a comment.

  Check it out #{user_url(to)}

  Creatively Yours,
  Pixie
