:plain
  Greetings #{to},
  <br><br>
  Your friend, #{from}, thought you would be interested in PixieEngine, a fun and exciting community centered around pixel art.
  <br><br>
  At PixieEngine we create amazing pixel art and share it with the world. Collect your favorites, comment on wonderful work, engage with the supportive community.
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" style="padding: 48px 0 48px 0;">
        <a href="#{invite_token_url(token)}" style="#{cta_style}">Try it now</a>
      </td>
    </tr>
  </table>
  Our tools are free to the world and we promote a pay it forward philosophy. As our community grows our aim is to grant all people access to the means of
  production: ideas, tools and data. The more that we offer, the more that is
  returned to the community by way of new ideas and new creations.
  <br><br>
  Yours Always,
  <br>
  PixieEngine
