:plain
  Greetings #{to},

  Your friend, #{from}, thought you would be
  interested in Pixie, a free online pixel editor.

  On Pixie you can create amazing pixel art for free, from anywhere, and share it
  with the world.

  How about giving it a try right now? #{url}

  Our tools are free to the world and we promote a pay it forward philosophy.
  That's why content created with Pixie is licensed under the Creative Commons
  ShareAlike license http://creativecommons.org/licenses/sa/1.0/

  As our community grows our aim is to grant all people access to the means of
  production: ideas, tools and data. The more that we offer, the more that is
  returned to the community by way of new ideas and new creations.

  Veritably Yours,
  Pixie
