%tr
  %td(style="background-color:#{@content_bg};border-top:0px solid #333333;border-bottom:10px solid #{@content_bg};")
    %center
      = link_to(image_tag("#{root_url}assets/pixie_banner.png", :alt => "Pixie", :title => "Pixie", :border => "0", :align => "center"), root_url(nil, @link_tracking))
