:plain
  
  We have been hard at work rolling out new features. We have two new features this week: a color palette with great default colors and a progress meter on your user profile page.

  The colors we have added make drawing what you want much simpler. These are the kind of colors you would take if you were stranded on a desert island. We tried to keep the palette small but still offer colors that supported a wide range of applications. Read the full palette blog post here: http://strd6.com/2010/08/new-pixie-color-palette/
  
  Stop by, become a 100% vested Pixie user, and give the new colors a spin. We can't wait to see what you will create. 
  
  #{link_to "Unsubscribe", {:controller => "/users", :action => "unsubscribe", :id => @user.id, :only_path => false}}
  
  -Pixie  