:plain
  Hey, #{@membership.user.display_name}.

  Your friend #{user_url(@membership.group.user, @link_tracking)} wants some help on their project #{ide_project_url(@membership.group, @link_tracking)}. They added you as a member so now you can edit it too. Get in there and make a great game!

  -Pixie
