:ruby
  @paragraphs = [
    """We're working hard to improve Pixie, and we need your feedback. It will only take 30 seconds.
    #{link_to "Please take our brief survey", "https://docs.google.com/spreadsheet/viewform?formkey=dFhlQ1VNQlowOC1Fb1d6aUF3dkZoNGc6MQ"}.
    """,
  ]

= render :partial => "newsletter"
