%p Greetings #{@user.display_name}, and welcome to Pixie!

%p On Pixie you'll create amazing pixel art from anywhere with an internet connection and be able to instantly share it with the world.

%p You can also dig in to our vast gallery of pixel art: #{sprites_url}, as well as create your own: #{new_sprite_url}.

%p As the community grows our aim is to provide everyone the creative means to produce games: ideas, tools, and data. The more that we offer, the more that's returned to the community by way of new ideas and new creations.

%p
  Veritably Yours,
  <br>
  Pixie
