:plain
  Greetings, and thanks for signing up for Pixie!

  On Pixie you can create amazing games for free, from anywhere, and share them
  with the world.

  How about giving it a try right now? #{ide_project_path("demo")}
  Follow along with the tooltips, they'll help point you in the right
  direction.

  If you want to lear more we have an entire section of tutorials:
  http://pixieengine.com/projects?filter=tutorial

  There is even a showcase of complete games you can play, explore and learn
  from: http://pixieengine.com/projects?filter=featured

  You can also explore our vast gallery of pixel art: #{sprites_path}
  As well as create your own: #{new_sprite_path}

  As our community grows our aim is to grant all people access to the means of
  production: ideas, tools, and data. The more that we offer, the more that is
  returned to the community by way of new ideas and new creations.

  Be sure to introduce yourself in the forums and see what everyone is up to:
  http://pixieengine.com/community/forums/1/topics/1
  And also please don't hesitate to ask if you have any questions, we'll help
  you out as soon as we can.


  Veritably Yours,
  Pixie
