/* line 1, ../../../app/stylesheets/codemirror/csscolors.sass */
html {
  cursor: text;
}

/* line 4, ../../../app/stylesheets/codemirror/csscolors.sass */
.editbox {
  margin: 0.4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

/* line 11, ../../../app/stylesheets/codemirror/csscolors.sass */
pre.code {
  color: #666666;
}

/* line 14, ../../../app/stylesheets/codemirror/csscolors.sass */
.editbox {
  color: #666666;
}
/* line 16, ../../../app/stylesheets/codemirror/csscolors.sass */
.editbox p {
  margin: 0;
}

/* line 20, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-at {
  color: #770088;
}
/* line 22, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-unit {
  color: #228811;
}
/* line 24, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-value {
  color: #770088;
}
/* line 26, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-identifier {
  color: black;
}
/* line 28, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-selector {
  color: #1111bb;
}
/* line 30, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-important {
  color: blue;
}
/* line 32, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-colorcode {
  color: #229999;
}
/* line 34, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-comment {
  color: #aa7700;
}
/* line 36, ../../../app/stylesheets/codemirror/csscolors.sass */
span.css-string {
  color: #aa2222;
}
