/* line 1, ../../../app/stylesheets/codemirror/docs.sass */
body {
  margin: 0;
  padding: 3em 6em;
  color: black;
  max-width: 50em;
}

/* line 7, ../../../app/stylesheets/codemirror/docs.sass */
h1 {
  font-size: 22pt;
}

/* line 10, ../../../app/stylesheets/codemirror/docs.sass */
.underline {
  border-bottom: 3px solid #cc4444;
}

/* line 13, ../../../app/stylesheets/codemirror/docs.sass */
h2 {
  font-size: 14pt;
}

/* line 16, ../../../app/stylesheets/codemirror/docs.sass */
h3 {
  font-size: 12pt;
}

/* line 19, ../../../app/stylesheets/codemirror/docs.sass */
p.rel {
  padding-left: 2em;
  text-indent: -2em;
}

/* line 23, ../../../app/stylesheets/codemirror/docs.sass */
div.border {
  border: 1px solid black;
}

/* line 26, ../../../app/stylesheets/codemirror/docs.sass */
code {
  font-family: courier, monospace;
  font-size: 90%;
  color: #114444;
}

/* line 31, ../../../app/stylesheets/codemirror/docs.sass */
pre.code {
  margin: 1.1em 12px;
  border: 1px solid #cccccc;
  color: black;
  padding: 0.4em;
  font-family: courier, monospace;
}

/* line 38, ../../../app/stylesheets/codemirror/docs.sass */
.warn {
  color: #cc0000;
}
