/* line 1, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
html {
  cursor: text;
}

/* line 4, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
.editbox {
  margin: 0.4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}
/* line 10, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
.editbox p {
  margin: 0;
}

/* line 14, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-keyword {
  color: #770088;
}
/* line 16, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-prefixed {
  color: #55dd11;
}
/* line 18, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-var {
  color: #0000cc;
}
/* line 20, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-comment {
  color: #aa7700;
}
/* line 22, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-literal {
  color: #aa2222;
}
/* line 24, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-uri {
  color: #229922;
}
/* line 26, ../../../app/stylesheets/codemirror/sparqlcolors.sass */
span.sp-operator {
  color: #008888;
}
