/* line 1, ../../../app/stylesheets/codemirror/xmlcolors.sass */
html {
  cursor: text;
}

/* line 4, ../../../app/stylesheets/codemirror/xmlcolors.sass */
.editbox {
  margin: 0.4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}
/* line 10, ../../../app/stylesheets/codemirror/xmlcolors.sass */
.editbox p {
  margin: 0;
}

/* line 14, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-tagname {
  color: #aa00bb;
}
/* line 16, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-attribute {
  color: #228811;
}
/* line 18, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-punctuation {
  color: black;
}
/* line 20, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-attname {
  color: blue;
}
/* line 22, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-comment {
  color: #aa7700;
}
/* line 24, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-cdata {
  color: #4488aa;
}
/* line 26, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-processing {
  color: #999999;
}
/* line 28, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-entity {
  color: #aa2222;
}
/* line 30, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-error {
  color: red !important;
}
/* line 32, ../../../app/stylesheets/codemirror/xmlcolors.sass */
span.xml-text {
  color: black;
}
