.content
  .actions.top

  .module.right
    .component{ :style => "display: none"}
      %h3 Instance Properties
      %table.prop_editor
      %button.prop_save Save Properties
      %button.prop_cancel Cancel

  .module.left
