.content
  .actions.top
    %button.save Save

  .module.right

  .tools.module.left
    .tool.primary.secondary{ :"data-tool" => "stamp"}
    .tool{ :"data-tool" => "eraser"}
    .tool{ :"data-tool" => "fill"}
    .tool{ :"data-tool" => "selection"}
