.animation_editor
  %h3 Animation Editor
  .user_sprites
    = render :partial => 'animations/animation_sprite', :collection => @user_sprites

  .frame_box
    %h3 Frames
    .sprites
      = render :partial => 'animations/animation_sprite', :collection => @user_sprites[0..5]

  .preview_box
    %h3 Preview
    .sprites_container
      .sprites
      #play
      #stop

:coffeescript
  animation_id = null

  $('.frame_box .sprites').droppable(
    accept: '.user_sprites .sprite_container'
  ).sortable
    axis: "x"

  $('.user_sprites .sprite_container').draggable(
   connectToSortable: '.frame_box .sprites'
   helper: 'clone'
  )

  $('img').live('click mousedown mousemove', (event) ->
    event.preventDefault()
  )

  play_next = ->
    animation_sprites = $('.preview_box img')
    active = $('.preview_box img.active').removeClass('active')

    active_index = active.index()
    length = animation_sprites.length

    animation_sprites.eq((active_index + 1) % length).addClass('active')

  preview_animation = ->
    clearInterval(animation_id)

    $('.preview_box img').remove()
    animation_sprites = $('.sprites img').css('display', '').clone()
    $('.preview_box .sprites').append(animation_sprites)

    animation_sprites.first().addClass('active')

    animation_id = setInterval(play_next, 100)

  stop_animation = ->
    clearInterval(animation_id)

    $('.preview_box img').remove()

  $('#play').click ->
    preview_animation()
    $(this).toggleClass("pause")

  $('#stop').click ->
    stop_animation()
    $('#play').removeClass("pause")

  $('.frame_box .sprite_container').live
    mouseenter: -> $('<div class="x" />').appendTo($(this))
    mouseleave: -> $(this).find('.x').remove()

  $('.x').live 'click', ->
    $(this).parent().remove()

%style
  :sass
    @import util

    $frame_box_height = 140px
    $header_color = #BFE2FF
    $background_color = #00010D

    body
      background-color = $background_color

    h3
      +text-shadow(#0A131A)

      color: $header_color
      font-weight: bold
      margin-left: 14px

    img
      +inline-block

      border: 1px solid #CCC
      margin: 2px

    .x
      +bounds(24px, 24px)

      background-image: url(/images/x.png)
      cursor: pointer
      display: inline-block
      left: -28px
      position: relative
      top: -22px

    .sprite_container
      display: inline-block

    .animation_editor
      +box-sizing(border-box)
      +user-select(none)

      cursor: default
      height: 100%
      padding-top: 4em

      .user_sprites
        width: 75%

        .sprite_container
          +bounds(96px, 96px)

          margin: 5px
          overflow: hidden
          text-align: center

          img
            +box-shadow(#ccc)

            cursor: move
            vertical-align: top

      .frame_box
        +bounds(75%, $frame_box_height)
        +box-sizing(border-box)

        bottom: 0
        display: inline-block
        left: 0
        overflow-y: hidden
        position: fixed
        white-space: nowrap

        .sprite_container
          +bounds(80px, 80px)

        img
          +bounds(64px, 64px)
          +box-shadow(#ccc)

          cursor: move
          margin: 5px 15px

      .preview_box
        +bounds(23%, $frame_box_height)

        bottom: 0
        display: inline-block
        right: 0
        position: fixed

        h3
          margin-left: 0

        .sprites_container
          +bounds(64px, 64px)

          position: relative

          #play
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_play.png)
            position: absolute
            bottom: -16px
            right: 0

            &:hover
              background-image: url(/images/icons/control_play_blue.png)

            &.pause
              background-image: url(/images/icons/control_pause.png)

              &:hover
                background-image: url(/images/icons/control_pause_blue.png)

          #stop
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_stop.png)
            position: absolute
            bottom: -16px
            left: 0

            &:hover
              background-image: url(/images/icons/control_stop_blue.png)

        .sprites
          +bounds(64px, 64px)

          position: relative

        img
          border: none
          position: absolute
          top: 0
          left: 0
          display: none
          margin: 5px

          &.active
            display: block