= stylesheet_link_tag 'pixie/pixie'

= render :partial => "animations/pixie"
= render :partial => "animations/hitcircle_editor"

- page_hotkeys = [["Edit sprite", "double click"], ["Edit hitcircles", "h"]]

= render :partial => "shared/hotkeys", :locals => { :page_hotkeys => page_hotkeys, :section_title => "Selected Animation Frame" }