.animation_editor
  .user_sprites
    = render :partial => 'animations/animation_sprite', :collection => @user_sprites

  .frame_box
    %h3 Frames
    .sprites

  .animations
    %h3 Animations

  .preview_box
    .sprites_container
      .sprites
      #play
      #stop

:coffeescript
  animation_id = null

  $('.frame_box').droppable(
    appendTo: '.frame_box .sprites'
  )

  $('.frame_box .sprites').sortable
    axis: "x"
    tolerance: "pointer"

  $('.user_sprites .sprite_container').draggable
    connectToSortable: '.frame_box .sprites'
    containment: 'document'
    helper: 'clone'
    opacity: 0.7

  $('img, .user_sprites .sprite_container').live 'click mousedown mousemove', (event) ->
    event.preventDefault()

  play_next = ->
    animation_sprites = $('.preview_box img')
    active = $('.preview_box img.active').removeClass('active')

    active_index = active.index()
    length = animation_sprites.length

    animation_sprites.eq((active_index + 1) % length).addClass('active')

  play_animation = ->
    clearInterval(animation_id)

    $('.preview_box img').remove()
    animation_sprites = $('.sprites img').css('display', '').clone()
    $('.preview_box .sprites').append(animation_sprites)

    animation_sprites.first().addClass('active')

    animation_id = setInterval(play_next, 100)

  pause_animation = ->
    clearInterval(animation_id)

  stop_animation = ->
    clearInterval(animation_id)

    $('.preview_box img').remove()

  $('#play').click ->
    if $(this).hasClass("pause")
      pause_animation()
    else
      play_animation()

    $(this).toggleClass("pause")

  $('#stop').click ->
    stop_animation()
    $('#play').removeClass("pause")

  $('.frame_box .sprite_container').live
    click: ->
      sprite = $(this)
      if sprite.hasClass('selected')
        sprite.removeClass('selected')
      else
        sprite.parent().find('.selected').removeClass('selected')
        sprite.addClass('selected')
    mouseenter: -> $('<div class="x" />').appendTo($(this))
    mouseleave: -> $(this).find('.x').remove()

  $(document).bind "keydown", 'left', (event) ->
    event.preventDefault()

    selected_sprite = $('.frame_box .sprite_container.selected')

    if (selected_sprite.prev().length > 0)
      selected_sprite.prev().before(selected_sprite)

  $(document).bind "keydown", 'right', (event) ->
    event.preventDefault()

    selected_sprite = $('.frame_box .sprite_container.selected')

    if (selected_sprite.next().length > 0)
      selected_sprite.next().after(selected_sprite)

  $('.x').live 'click', ->
    $(this).parent().remove()

%style
  :sass
    @import util

    $frame_box_height = 140px
    $header_color = #BFE2FF
    $background_color = #00010D

    body
      background-color = $background_color

    h3
      +text-shadow(#0A131A)

      color: $header_color
      font-weight: bold
      margin-left: 14px
      margin-bottom: 0

    img
      +inline-block

    .x
      +bounds(24px, 24px)

      background-image: url(/images/x.png)
      cursor: pointer
      display: inline-block
      right: -10px
      position: absolute
      top: -10px

    .sprite_container
      display: inline-block
      position: relative

    .animation_editor
      +box-sizing(border-box)
      +user-select(none)

      height: 100%
      padding: 2em 2em 160px 2em

      .user_sprites
        +bounds(75%, 100%)
        overflow-x: hidden
        overflow-y: auto

        .sprite_container
          +border-radius(8px)
          +bounds(96px, 96px)
          +box-shadow(#ccc, 4px, 4px, 15px)
          +contents-centered()

          background-color: #fff
          cursor: move
          margin: 4px
          overflow: hidden

          &:hover
            background-color: #FFF6BF

          img
            border: none

      .frame_box
        +bounds(75%, $frame_box_height)

        bottom: 0
        left: 0
        overflow-y: hidden
        position: fixed
        white-space: nowrap

        .sprite_container
          +border-radius(8px)
          +bounds(72px, 72px)
          +box-shadow(#ccc, 2px, 2px, 15px)
          +box-sizing(border-box)

          background-color: #fff
          margin-left: 10px
          margin-right: 10px
          position: relative

          &:hover
            background-color: #FFF6BF

          &.selected
            border: 3px solid #FFD324

        .sprites
          min-height: 77px

        img
          +bounds(64px, 64px)

          cursor: move
          margin: auto
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          vertical-align: baseline

      .animations
        +bounds(23%, 450px)

        display: inline-block
        position: fixed
        right: 0
        top: 20px

      .preview_box
        +bounds(23%, $frame_box_height)

        bottom: 8px
        display: inline-block
        right: 0
        position: fixed

        .sprites_container
          +border-radius(8px)
          +bounds(96px, 96px)

          background-color: #fff
          position: relative

          #play
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_play.png)
            position: absolute
            bottom: -16px
            right: 0

            &:hover
              background-image: url(/images/icons/control_play_blue.png)

            &.pause
              background-image: url(/images/icons/control_pause.png)

              &:hover
                background-image: url(/images/icons/control_pause_blue.png)

          #stop
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_stop.png)
            position: absolute
            bottom: -16px
            left: 0

            &:hover
              background-image: url(/images/icons/control_stop_blue.png)

        .sprites
          +bounds(64px, 64px)

        img
          display: none
          margin: auto
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0


          &.active
            display: block