.animation_editor
  .user_sprites
    = render :partial => 'animations/animation_sprite', :collection => @user_sprites

  %h3 Frames
  .frame_box
    .sprites

  .animations
    %button#new_animation New

  .preview_box
    Speed
    %input{ :id => "animation_speed", :value => "110" }
    ms
    .sprites_container
      .sprites
      #play
      #stop

#create_animation.template
  .name ${name}
  .animation.active
    .cover
    .sprites

#default_frame.template
  .demo
  %p Drag sprites here to start animating

:coffeescript

  $(->
    clear_frame_sprites = -> frame_sprites().remove()

    frame_sprites = -> frame_sprites_container().children()

    frame_sprites_container = -> $('.frame_box .sprites')

    active_animation = -> $('.animations .animation.active')

    active_animation_sprites = -> active_animation().find('.sprites')

    clear_preview = -> $('.preview_box img').remove()

    update_active_animation = ->
      active_animation_sprites().children().remove()
      frame_sprites().clone().appendTo(active_animation_sprites())

    $('.user_sprites img').each ->
      if $(this).data('width') > 96
        $(this).css
          width: '86px'
          height: '86px'

    $('#default_frame').tmpl().appendTo(frame_sprites_container())

    $('#create_animation').tmpl(
      name: "Animation 1"
    ).insertBefore($('#new_animation'))

    animation_id = null
    preview_dirty = false

    $('.animation').live 'mousedown', ->
      update_active_animation()
      stop_animation()

      clear_frame_sprites()
      $(this).find('.sprites').children().clone().appendTo(frame_sprites_container())

      active_animation().removeClass('active')
      $(this).addClass('active')

    $('#new_animation').mousedown ->
      update_active_animation()
      stop_animation()

      active_animation().removeClass('active')

      clear_frame_sprites()

      $('#default_frame').tmpl().appendTo(frame_sprites_container())

      $('#create_animation').tmpl(
        name: "Animation " + ($('.animations .animation').length + 1)
      ).insertAfter($('.animations .animation').last())

    $('.frame_box').droppable
      addClass: false
      drop: (event, ui) ->
        $(this).removeClass('highlight')
        $(this).find('p').remove()
        $(this).find('.demo').remove()

        frame_sprites().find('img').css
          width: "64px"
          height: "64px"

        active_animation().find('.cover').children().remove()
        active_animation().find('.cover').append(ui.draggable.find('img').clone())
      out: ->
        $(this).removeClass('highlight')
      over: ->
        $(this).addClass('highlight')
      tolerance: "touch"

    frame_sprites_container().sortable
      axis: "x"
      tolerance: "pointer"

    $('.user_sprites .sprite_container').draggable
      addClasses: false
      connectToSortable: '.frame_box .sprites'
      containment: 'window'
      helper: 'clone'
      opacity: 0.7

    $('img, .user_sprites .sprite_container').live 'click mousedown mousemove', (event) ->
      event.preventDefault()

    play_next = ->
      preview_sprites = $('.preview_box img')
      active = $('.preview_box img.active').removeClass('active')

      active_index = active.index()
      length = preview_sprites.length

      preview_sprites.eq((active_index + 1) % length).addClass('active')

    play_animation = ->
      clearInterval(animation_id)

      if ($('.preview_box img').length != $('.frame_box img').length || preview_dirty)
        preview_dirty = false
        clear_preview()
        preview_sprites = $('.frame_box .sprites img').css('display', '').clone()
        $('.preview_box .sprites').append(preview_sprites)

        preview_sprites.first().addClass('active')

        animation_id = setInterval(play_next, $('#animation_speed').val())
      else
        animation_id = setInterval(play_next, $('#animation_speed').val())

    pause_animation = ->
      clearInterval(animation_id)

    stop_animation = ->
      clearInterval(animation_id)

      clear_preview()

      $('#play').removeClass("pause")

    $('#play').mousedown ->
      if $(this).hasClass("pause") then pause_animation() else play_animation()

      if frame_sprites().length
        $(this).toggleClass("pause")

    $('#stop').mousedown ->
      stop_animation()

    $('.frame_box .sprite_container').live
      click: -> $(this).addClass('selected')
      mouseenter: ->
        $('<div class="x" />').appendTo($(this))
        $('<div class="duplicate" />').appendTo($(this))
      mouseleave: ->
        $(this).find('.x').remove()
        $(this).find('.duplicate').remove()

    $(document).mousedown (event) ->
      $('.frame_box .sprite_container.selected').removeClass('selected')

    $(document).bind "keydown", 'left', (event) ->
      preview_dirty = true
      event.preventDefault()

      selected_sprite = $('.frame_box .sprite_container.selected')
      selected_sprite.find('.x, .duplicate').remove()

      if selected_sprite.prev().length
        selected_sprite.prev().before(selected_sprite)

    $(document).bind "keydown", 'right', (event) ->
      preview_dirty = true
      event.preventDefault()

      selected_sprite = $('.frame_box .sprite_container.selected')
      selected_sprite.find('.x, .duplicate').remove()

      if selected_sprite.next().length
        selected_sprite.next().after(selected_sprite)

    $('.animations .name').liveEdit()

    $('.x').live 'click', ->
      $(this).parent().remove()

      if frame_sprites().length == 0
        $('#default_frame').tmpl().appendTo(frame_sprites_container())

    $('.duplicate').live 'mousedown', ->
      parent = $(this).parent()

      parent.clone().insertAfter(parent)

      parent.parent().find('.x, .duplicate').remove()
  )

%style
  :sass
    @import util

    $frame_box_height = 120px
    $header_color = #BFE2FF
    $background_color = #00010D

    body
      background-color = $background_color

    h3
      +text-shadow(#0A131A)

      color: $header_color
      font-weight: bold
      margin-left: 14px
      margin-bottom: 0

    img
      +inline-block

    .animation
      +border-radius(8px)
      +bounds(96px, 96px)
      +box-sizing(border-box)

      background-color: #fff

      &.active
        border: 3px solid green

    .x
      +bounds(24px, 29px)

      background-image: url(/images/x.png)
      cursor: pointer
      display: inline-block
      right: -10px
      position: absolute
      top: -10px

    .duplicate
      +bounds(24px, 29px)

      background-image: url(/images/duplicate_layer.png)
      cursor: pointer
      display: inline-block
      right: -10px
      position: absolute
      bottom: 18px

    .sprite_container
      display: inline-block
      position: relative

    .animation_editor
      +box-sizing(border-box)
      +user-select(none)

      height: 100%
      padding: 2em 2em 160px 2em

      .user_sprites
        +bounds(75%, 100%)
        overflow-x: hidden
        overflow-y: auto

        .sprite_container
          +border-radius(8px)
          +bounds(96px, 96px)
          +box-shadow(#ccc, 4px, 4px, 15px)
          +contents-centered()

          background-color: #fff
          cursor: move
          margin: 4px
          overflow: hidden

          &:hover
            background-color: #FFF6BF

          img
            border: none

      .frame_box
        +bounds(75%, $frame_box_height)
        +border-top-right-radius(8px)

        bottom: 0
        left: 0
        overflow-y: hidden
        position: fixed
        white-space: nowrap

        &.highlight
          background-color: #264409

        .sprite_container
          +border-radius(8px)
          +bounds(72px, 72px)
          +box-shadow(#ccc, 2px, 2px, 15px)
          +box-sizing(border-box)

          background-color: #fff
          margin-left: 10px
          margin-right: 10px
          position: relative

          &:hover
            background-color: #FFF6BF

          &.selected
            border: 4px solid green

        .sprites
          margin-top: 23px
          min-height: 77px

        .demo
          +border-radius(8px)
          +bounds(72px, 72px)
          +box-shadow(#ccc, 2px, 2px, 15px)
          +box-sizing(border-box)

          background-color: #ccc
          border: 3px dotted #aaa
          margin-left: 10px
          margin-right: 10px
          position: fixed
          left: 0
          bottom: 25px

        p
          color: #555
          position: fixed
          bottom: 39px
          left: 100px

        img
          +bounds(64px, 64px)

          cursor: move
          margin: auto
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          vertical-align: baseline

      .animations
        +bounds(23%, 450px)

        display: inline-block
        position: fixed
        right: 0
        top: 20px

        .cover
          +bounds(96px, 96px)
          +contents_centered()

          img
            +bounds(64px, 64px)

        .name
          color: #555
          margin-top: 4px
          margin-bottom: 4px
          text-align: center
          width: 96px

        .sprites
          visibility: hidden

      .preview_box
        +bounds(23%, $frame_box_height)

        bottom: 8px
        display: inline-block
        right: 0
        position: fixed

        input
          margin-bottom: 5px
          width: 30px

        .sprites_container
          +border-radius(8px)
          +bounds(96px, 96px)

          background-color: #fff
          position: relative

          #play
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_play.png)
            position: absolute
            bottom: -16px
            right: 0

            &:hover
              background-image: url(/images/icons/control_play_blue.png)

            &.pause
              background-image: url(/images/icons/control_pause.png)

              &:hover
                background-image: url(/images/icons/control_pause_blue.png)

          #stop
            +bounds(16px, 16px)

            background-image: url(/images/icons/control_stop.png)
            position: absolute
            bottom: -16px
            left: 0

            &:hover
              background-image: url(/images/icons/control_stop_blue.png)

        .sprites
          +bounds(64px, 64px)

        img
          display: none
          margin: auto
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0


          &.active
            display: block