#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          %h3 Preview
          .player
          .controls
            .play
            .stop
            %input(type="range" min="0" max="30" value="0" class="scrubber")
            %span.fps
              fps
              %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          %p Sprites
          .sprites
          %p Sequences
          .sequences

      %nav.right
        .background_color
          %h3 Animations
          .animations

      %nav.module.bottom
        %h3 Frames
        .frame_sprites

  %script.animation.template(type="text/x-jQuery-tmpl")
    .animation ${name}

  %script.sprite.template(type="text/x-jQuery-tmpl")
    .sprite_container
      %img.sprite(src="${src}")
