#animation_editor_templates.template
  .load_sprite.template
    .sprite_container
      .tags
      %img{ :src => "${url}", :alt => "${alt}", :title => "${title}", 'data-id' => "${id}", 'data-hit_circles' => "${circles}", 'data-hflip' => "${hflip}", 'data-vflip' => "${vflip}" }

  .create_animation.template
    .name ${name}
    .animation
      .cover.active
      .sprites
      .speed ${speed}
      .complete ${complete}

  .placeholder.template
    .demo
    %p Drag sprites here to start animating

  .editor.template
    %section
      .user_sprites.module
        - if !current_user || current_user.sprites.empty?
          %p
            You have not created any sprites yet. Make some in the
            = link_to "Pixel Editor", new_sprite_path
        - else
          = render :partial => 'animations/animation_sprite', :collection => current_user.sprites

    %nav.bottom
      .frame_sprites.module
      .lock(title="locked animations won't be interrupted before they finish")
      .goto
        Next Animation
        %select
          %option(value="Animation 1") Animation 1

    %nav.right
      %button.save Save
      .animations.module
        %button.new_animation New

    .preview_box
      %div.animation_speed
        Speed
        %input.speed
        ms
      .sprite_container
        .sprites
        .play
        .stop
