#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          .player
            .module_header
              %button.new_animation New
              .button_group
                %button.export_json> Export JSON
                %button.export_csv> Export CSV
              .animations
            %img
            .controls.actions_bar
              .play
              .stop
              .scrubber_container
                %input(type="range" min="0" max="29" value="0" class="scrubber")
              %span.fps
                fps
                %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          .module_header
            %h3 Sprites
          .sprites

      %nav.right
        .background_color
          .module_header
            %h3 Sequences
            %a.edit_sequences Edit
          .sequences

      %nav.module.bottom
        .module_header
          %h3 Frames
          %button.save_sequence> Create Sequence
          %button.clear_frames> Clear
          %a.edit_frames Edit
        .frame_sprites

  %script.animation.template(type="text/x-jQuery-tmpl")
    %h4.state_name(data-state_id="${stateId}") ${name}

  %script.sprite.template(type="text/x-jQuery-tmpl")
    %img(src="${src}")

  %script.frame_sprite.template(type="text/x-jQuery-tmpl")
    .frame_sprite
      %img(src="${src}")
