#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          .player
            %h3.animation_name State 1
            %img
            .controls.actions_bar
              .play
              .stop
              .scrubber_container
                %input(type="range" min="0" max="29" value="0" class="scrubber")
              %span.fps
                fps
                %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          .module_header
            %h3 Sprites
          .sprites
          %h3 Sequences
          .sequences

      %nav.right
        .background_color
          .module_header
            %h3 States
            %button.new_animation New
          .animations

      %nav.module.bottom
        .module_header
          %h3 Frames
          %button.save_sequence> Create Sequence
        .frame_sprites

  %script.animation.template(type="text/x-jQuery-tmpl")
    %h4.state_name(data-state_id="${stateId}") ${name}

  %script.sprite.template(type="text/x-jQuery-tmpl")
    %img(src="${src}")

  %script.frame_sprite.template(type="text/x-jQuery-tmpl")
    .frame_sprite
      %img(src="${src}")
