#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          .player
            .module_header
              .button_group
                %button.export_json(title="Create a sequence to export" disabled="true")> Export JSON
                %button.export_csv(title="Create a sequence to export" disabled="true")> Export CSV
              %button.help>
                %span.static-help(alt="Help")
                Help
              .animations
            %img
            .controls.actions_bar
              .play.static-play
              .stop.static-stop
              .scrubber_container
                %input(type="range" min="0" max="29" value="0" class="scrubber")
              %span.fps
                fps
                %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          .module_header
            %h3 Sprites
          .sprites

      %nav.right
        .background_color
          .module_header
            %h3> Sequences
            %a.edit_sequences Edit
          .sequences

      %nav.module.bottom
        .module_header
          %h3 Frames
          %button.save_sequence> Create Sequence
          %button.clear_frames> Clear
        .frame_sprites

  %script.sprite.template(type="text/x-jQuery-tmpl")
    %img(src="${src}")

  %script.frame_sprite.template(type="text/x-jQuery-tmpl")
    .frame_sprite
      %img(src="${src}")

  .edit_sequence_modal.modal
    %h2.header Edit Sequence
