#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          .player
            .module_header
              .button_group
                %button.export_json(title="Create a sequence to export" disabled="true")> Export JSON
                %button.export_csv(title="Create a sequence to export" disabled="true")> Export CSV
              %button.help>
                %span.static-help(alt="Help")
                Help
            %img
            .controls.actions_bar
              .play.static-play
              .stop.static-stop
              .scrubber_container
                %input(type="range" min="0" max="29" value="0" class="scrubber")
              %span.fps
                fps
                %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          .module_header
            %h3 Sprites
          .sprites

      %nav.right
        .background_color
          .module_header
            %h3> Sequences
            %a.edit_sequences Edit
          .sequences

      %nav.module.bottom
        .module_header
          %h3 Frames
          %button.create_sequence(title="Add frames to create a sequence" disabled="true")> Create Sequence
          %button.clear_frames(title="There are no frames to clear" disabled="true")> Clear
        .frame_sprites

  %script.sprite.template(type="text/x-jQuery-tmpl")
    %img(src="${src}")

  %script.frame_sprite.template(type="text/x-jQuery-tmpl")
    .frame_sprite
      %img(src="${src}")

  .edit_sequence_modal.modal
    %h2.header Edit Sequence

  .help_modal
    %h2.header Where do I begin?
    %ul
      %li Start by dragging an image from your desktop to the editor. It will be added to your available sprites.
      %li Next click on any available sprites to add them to the current animation frame.
      %li Now you can start creating sequences, the building block of animations. A sequences is a colllection of one or more animation frames.
      %li You can make sequences of sequences and really capture complex animation states.
