#animation_editor_templates.template
  %script.editor.template(type="text/x-jQuery-tmpl")
    .content
      %section
        .relative
          .player
            .module_header
              .button_group
                %button.export_json(title="Create a sequence to export" disabled="true")> Export JSON
                %button.export_csv(title="Create a sequence to export" disabled="true")> Export CSV
              %button.help>
                %span.static-help(alt="Help")
                Help
            %img
            .controls.actions_bar
              .play.static-play
              .stop.static-stop
              .scrubber_container
                %input(type="range" min="0" max="29" value="0" class="scrubber")
              %span.fps
                fps
                %input(type="number" min="0" max="60" value="30")

      %nav.left
        .background_color
          .module_header
            %h3 Sprites
          .sprites

      %nav.right
        .background_color
          .module_header
            %h3> Sequences
            %button.edit_sequences(title="Create a sequence before editing" disabled="true")>
              %span.static-picture_edit
              Edit
          .sequences

      %nav.module.bottom
        .module_header
          %h3 Frames
          %button.create_sequence(title="Add frames to create a sequence" disabled="true")>
            %span.static-pictures
            Create Sequence
          %button.clear_frames(title="There are no frames to clear" disabled="true")>
            %span.static-application
            Clear
        .frame_sprites

  %script.sprite.template(type="text/x-jQuery-tmpl")
    %img(src="${src}")

  %script.frame_sprite.template(type="text/x-jQuery-tmpl")
    .frame_sprite
      %img(src="${src}")

  .help_modal
    %h2.header Where do I begin?
    %ul
      %li Drag an image from your desktop to the editor. It will be added to your sprites.
      %li Click on a sprite to add it to the current animation frame.
      %li Click the button to create a sequence.
      %li A sequences is a collection of one or more animation frames.
      %li Combine these sequences to create complex animation states.
