#animation_editor_templates.template
  .load_sprite.template
    .sprite_container
      %img{ :src => "${url}", :alt => "${alt}", :title => "${title}", 'data-id' => "${id}", 'data-hit_circles' => "${circles}" }

  .create_animation.template
    .name ${name}
    .animation
      .cover.active
      .sprites
      .speed ${speed}

  .placeholder.template
    .demo
    %p Drag sprites here to start animating

  .editor.template
    %section
      .user_sprites
        - if !current_user || current_user.sprites.empty?
          %p
            You have not created any sprites yet. Make some in the
            = link_to "Pixel Editor", new_sprite_path
        - else
          = render :partial => 'animations/animation_sprite', :collection => current_user.sprites

    %nav.bottom
      .frame_sprites

    %nav.right
      - if @animation
        %h3.filename #{@animation.name}
      - else
        %h3.filename Title
      %button.save Save
      .animations
        %button.new_animation New

    .preview_box
      %div.animation_speed
        Speed
        %input.speed
        ms
      .sprite_container
        .sprites
        .play
        .stop
