%section
  = render :partial => @animations

%style
  :sass
    @import partials/base
    @import util

    .animation
      +bounds(240px, 160px)
      +border-radius
      +box-shadow
      +inline-block

      background-color: $dark_highlight
      margin: 1em
      overflow-y: auto
      padding: 1em

      .title
        a
          white-space: nowrap

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

      .sprite_container
        +border-radius
        +bounds(64px)
        +contents-centered
        +inline-block

        background-color: #fff
        margin: 10px

        .name
          text-align: center
          top: -17px
          white-space: nowrap

    .light
      .animation
        background-color: $light_highlight
