%style
  :sass
    #fullscreen
      padding-top: 3.5em

    body > .content
      padding: 0

= render :partial => 'animation_editor'

:coffeescript
  $ ->
    $('body').attr('id', 'fullscreen')
    editor = $("<div />").appendTo("body > .content").animationEditor()
