%style
  :sass
    @import util

    header
      +user-select

    html
      background-image: url(/assets/editor_textured_background.png)

    #fullscreen
      padding: 3.5em 0 0

    body > .content
      border: none
      padding: 0

.editor.backbone_lebenmeister

- content_for :javascript do
  = javascript_include_tag "views/animations/editor"

  :coffeescript
    $ ->
      editor = new Pixie.Views.Animations.Editor

      $('.backbone_lebenmeister').replaceWith(editor.el)

      $('body').attr('id', 'fullscreen')

      $('#feedback').hide()

