.sprite_container>
  = link_to image_tag(index_sprite.image.url(:thumb), :draggable => true, "data-name" => index_sprite.display_name, :alt => index_sprite.display_name, :title => index_sprite.display_name), index_sprite
