.sprite
  - if current_user
    .favorites{:class => (current_user.favorite?(sprite) ? 'star' : 'no-star'), 'data-id' => sprite.id}
    
  %span.title= link_to sprite.title || "sprite #{sprite.id}"
  
  = link_to image_tag(sprite.image.url(:thumb)), sprite_path(sprite)

  .user
    By 
    - if sprite.user
      = link_to sprite.user, sprite.user
    - else
      Anonymous
