- @title = "Sprite Gallery"

.sprite_gallery
  .info_component
    %h3.name
    %span.author
    .sprite_container
      =image_tag("")
    %p.description

  %section
    .sprites
      = will_paginate sprites

      = render :partial => "index_sprite", :collection => sprites

      - tags = Sprite.with_ids(sprites).tag_counts
      - @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

:coffeescript
  $( ->
    $('#bulb').click ->
      if $(this).hasClass('on') then $('nav').addClass('light') else $('nav').removeClass('light')

    $('img').bind 'click mousedown mousemove', (event) ->
      event.preventDefault()

    $(document).bind "keydown", 'left', (event) ->
      event.preventDefault()

      selected_sprite = $('.sprites .sprite_container.selected')
      prev_sprite = if $(selected_sprite).prev('.sprite_container').length then $(selected_sprite).prev('.sprite_container') else $('.sprites .sprite_container:last')

      $('section .sprite_container').removeClass('selected')
      $(prev_sprite).addClass('selected').mousedown()

      $('.info_component').appendTo $('.sprites .sprite_container.selected')
      $('.info_component').css('display', 'inline-block')

    $(document).bind "keydown", 'right', (event) ->
      event.preventDefault()

      selected_sprite = $('.sprites .sprite_container.selected')
      next_sprite = if $(selected_sprite).next('.sprite_container').length then $(selected_sprite).next('.sprite_container') else $('.sprites .sprite_container:first')

      $('section .sprite_container').removeClass('selected')
      $(next_sprite).addClass('selected').mousedown()

      $('.info_component').appendTo $('.sprites .sprite_container.selected')
      $('.info_component').css('display', 'inline-block')

    select_sprite = (el) ->
      $('section .sprite_container').removeClass('selected')

      el.addClass('selected')

    collect_sprite_data = (sprite_el) ->
      sprite =
        id: $(sprite_el).attr('data-id')
        name: $(sprite_el).attr('data-name')
        description: $(sprite_el).attr('data-description')
        img: $(sprite_el).attr('data-original_url')

    collect_author_data = (sprite_el) ->
      author =
        id: sprite_el.attr('data-author_id')
        name: sprite_el.attr('data-author')

    $('section .sprite_container').mousedown ->
      el = $(this)

      select_sprite(el)

      sprite = collect_sprite_data(el)
      author = collect_author_data(el)

      update_info_component(sprite, author)

      $('.info_component').appendTo(el).css('display', 'inline-block')

    $('.edit_component form').ajaxForm
      dataType: 'json'
      beforeSerialize: -> notify("Saving...")
      success: (data) ->
        notify("Complete!")

        sprite =
          id: data.id
          name: data.title
          description: data.description
          img: data.img

        author =
          id: data.author_id
          name: data.author

        update_sprite_info(sprite)
        update_info_component(sprite, author)

    update_info_component = (sprite, author) ->
      $('.info_component .name').text(sprite.name)
      if author.id
        $('.info_component .author').text("by ").append('<a href= "users/' + author.id + '"> ' + author.name + '</a>')
      else
        $('.info_component .author a').remove()
        $('.info_component .author').text("by " + author.name)

      $('.info_component .sprite_container img').attr('src', sprite.img)
      $('.info_component p.description').text(sprite.description)
      $('.info_component a.delete').attr('href', '/sprites/' + sprite.id)
      $('#load_sprite').attr('href', '/sprites/' + sprite.id + '/load')

    update_sprite_info = (sprite) ->
      $('section .sprite_container[data-id="' + sprite.id + '"]').attr
        'data-name': $('.edit_component #sprite_title').val()
        'data-description': $('.edit_component #sprite_description').val()

    $('section .sprite_container').first().mousedown()
  )

%style
  :sass
    @import util
    @import blueprint/buttons
    @import partials/base

    #fullscreen
      a
        color: #000

      &.light
        .author, .pagination
          a
            color: #000

      .author, .pagination
        a
          color: #fff

    form
      input[type="text"]
        +box-sizing(content-box)

        color: #000
        background-color: #fff

      input[type="submit"]
        margin: 0

      label
        display: block
        text-align: left

        &[for="sprite_title"]
          padding-top: 0

      textarea
        +bounds(150px, 50px)

        margin: 0

    section
      min-height: 429px

      .sprites
        +border-radius(8px)
        +bounds(100%)
        +box-sizing(border-box)

        min-height: 429px
        overflow: auto
        padding: 15px

      .sprite_container
        cursor: pointer

        &:hover
          background-color: $hover

    #fullscreen .info_component
      +border-radius
      +bounds(200px)

      background-color: rgba(0, 28, 47, .9)
      display: none
      margin-bottom: -100px
      margin-left: -76px
      z-index: 500

      .sprite_container
        +border-radius
        +bounds(96px)
        +contents-centered

        background-color: #fff
        display: block
        margin: auto

    h3
      margin-bottom: 0

      &.name
        display: inline-block
        margin-right: 10px

    .sprite_gallery
      +box-sizing(border-box)
      +user-select(none)

      height: 100%
      position: relative

    button, a.button
      +button-button
      +button-colors
      +button-hover-colors
      +button-active-colors
      +border-radius(4px)

      margin: 0
      padding-left: 2px
      padding-right: 2px

      &[disabled]
        color: #AAA
        cursor: default

        &:hover
          color: #AAA

    .pagination
      color: $pixie_primary
      margin-bottom: 5px

    body
      .sprite_container
        +border-radius(8px)
        +bounds(48px)
        +contents-centered

        background-color: white
        display: inline-block
        margin-right: 7px
        margin-bottom: 3px
