= stylesheet_link_tag "branded"

%style
  :sass
    #fullscreen
      height: auto

    .gallery
      padding-bottom: 1em

    a.button
      margin-right: 0

    .filters
      float: right

- content_for :javascript do
  = javascript_include_tag "views/people/gallery"

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}
      person_gallery = new window.Pixie.Views.People.Gallery
      person_gallery.collection.reset(person_gallery.collection.parse(#{@people_data.to_json}))

.gallery

