.filters
  =link_to "Featured", { :filter => :featured }, { :class => "button" }
  =link_to "All", { :filter => :none }, { :class => "button" }

%section
  = will_paginate users
  .gallery
    = render :partial => users
  = will_paginate users

%style
  :sass
    @import partials/base
    @import util

    .user
      +bounds(240px, 160px)
      +inline-block
      +glass

      margin: 0 1em 1em 0
      overflow: hidden
      padding: 1em

      .title
        a
          white-space: nowrap

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em
