= will_paginate sprites

- sprites.each do |sprite|
  = image_tag(sprite.image.url)

  - form_for sprite do |form|
    = form.text_field :title, :id => nil

= will_paginate sprites

:javascript
  $(function() {
    $("form.edit_sprite").ajaxForm();

    $("form input").blur(function() {
      $(this).parent().submit();
    });
  });
