- unless @hide_chat
  %audio#chat_sound
    %source(src="/sounds/boop.wav" type="audio/wav")
  #open_chat Chat
  #chat_zone
    %h4.header
      Pixie Chat
      %label#notification_label.right
        Chat Notifications
        %input#notification_toggle(type="checkbox" checked="checked")
    .left_content
      %ul#chats
      %div#chat_buttons(style="display:none")
      %textarea#chat_body(placeholder="chat with your friends here")
      %input#chat_copy_html(type="hidden")

    .users_wrapper
      %ul#active_users

  - content_for :javascript do
    = javascript_include_tag "wmd.combined.min"

    :coffeescript
      $ ->
        setup_wmd
          input: "chat_body"
          button_bar: "chat_buttons"
          preview: "chat_buttons"
          output: "chat_copy_html"
          helpLink: "http://daringfireball.net/projects/markdown/syntax"

        user =
          name: "#{current_user ? current_user.display_name : 'Anonymous'}"
          id: #{current_user ? current_user.id : 0}
          admin: #{current_user ? current_user.admin : false}

        Pixie.Chat.create(user)
