#chatZone
  #chats
  = text_field_tag :chat_body
  %button Send

:plain
  <script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var jug = new Juggernaut;
    jug.subscribe("/chats", function(data){
      var li = $("<li />");
      li.text(data.name + "(" + data.time + ") : " + data.message);
      $("#chats").append(li);
    });

    $(function() {
      $('#chatZone button').click(function() {
        $.post('/chat', {
          body: $(this).prev().val()
        });
      });
    });
  </script>