- unless @hide_chat
  %audio#chat_sound
  #open_chat Chat
  #chat_zone
    %h4.header
      Pixie Chat

    .wrap(style="height: 100%")
      %iframe(src="/chatframe" sandbox="allow-scripts allow-same-origin")

  - content_for :javascript do
    :coffeescript
      $ ->
        $('#open_chat, #chat_zone .header').mousedown ->
          $('#open_chat').toggleClass('straight')
          $('#chat_zone').toggleClass('visible')

        $("#chat_zone").bind "show", ->
          $('#open_chat').addClass('straight')
          $('#chat_zone').addClass('visible')

        $('#open_chat, #chat_zone').mousedown (e) ->
          $('#chat_zone .header, #open_chat').css('backgroundColor', '#1084CE')
