%script#chat_templates.template(type="text/x-jQuery-tmpl")
  .recent_chat.template
    %li
      %hr
      %span.name ${name}
      %span.time ${time}
      %span.message {{html message}}

  .active_user.template
    %li
      %img(src="${avatar}")
      %a(href='/people/${id}' target="_blank" style="color: #${color};") ${name}
