#chatZone
  %h3 Pixie Chat
  %ul#chats
  %ul#active_users
    %li.header Online Now
    - User.logged_in.each do |user|
      %li= user[:display_name]

  = text_field_tag :chat_body
  %button#send.button Send

- #TODO: Use separate url for dev juggernaut script

:plain
  <script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/coffeescript">
    jug = new Juggernaut
    jug.subscribe "/chats", (data) ->
      li = $("<li />")
      name = $('<span />').addClass("name").text(data.name + ":")
      time = $('<span />').addClass("time").text(" " + data.time + " ")
      message = $('<span />').addClass("message").text(data.message)
      li.append(name).append(time).append(message)
      $('#chats').append(li).scrollTo('max')

    $ ->
      $('#chat_body').attr('placeholder', 'chat with your friends here')

      window.setInterval ->
        $.get('/active_users', (data) ->
          $('#active_users li:not(:first)').remove()

          for user in data.users
            li = $("<li />")
            li.append(user.name)

            $('#active_users').append(li)
        )
      , 30000

      send = (field) ->
        if (field.val() != "")
          $.post '/chat',
            body: field.val()

          field.val("")

      textBox = $('#send').prev()

      $('#chatZone #chat_body').keypress (e) ->
        if(e.keyCode == 13)
          send(textBox)

      $('#send').click ->
        send(textBox)
  </script>