#chat_templates.template
  %script.recent_chat.template(type="text/x-jQuery-tmpl")
    %li
      %hr
      %span.name ${name}
      %span.time ${time}
      %span.message {{html message}}

  %script.active_user.template(type="text/x-jQuery-tmpl")
    %li
      %img(src="${avatar}")
      %a(href='/people/${id}' target="_blank" style="color: #${color};") ${name}
