#chat_templates.template
  %script.recent_chat.template(type="text/x-jQuery-tmpl")
    %li{'data-id' => "${id}"}
      %hr
      %span.name ${name}
      %span.time ${time}
      %span.message {{html message}}

  %script.active_user.template(type="text/x-jQuery-tmpl")
    %li{'data-id' => "${id}"}
      %a(href='/people/${id}' target="_blank" style="color: ${color};")
        %img(src="${avatar}")
        ${name}
