- unless @hide_chat
  %audio#chat_sound
    %source(src="/sounds/boop.wav" type="audio/wav")
  #open_chat Chat
  #chat_zone
    %h4.header
      Pixie Chat
      %label#notification_label.right
        Chat Notifications
        %input#notification_toggle(type="checkbox" checked="checked")
    .left_content
      %ul#chats
      = text_field_tag :chat_body, nil, :placeholder => 'chat with your friends here'

    .users_wrapper
      %ul#active_users

  - content_for :javascript do
    :coffeescript
      $ ->
        user =
          name: "#{current_user ? current_user.display_name : 'Anonymous'}"
          id: #{current_user ? current_user.id : 0}

        Pixie.Chat.create(user)
