/[if IE]
  %style
    :sass
      .chromeFrameOverlayUnderlay
        background-color: #000
        cursor: wait

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"> </script>

  :coffeescript
    CFInstall.check
      mode: "overlay"
