%comments
  - if current_user
    = render :partial => "shared/comment_form", :locals => {:commentable => commentable}
  - commentable.comments.each do |comment|
    = render :partial => "comments/comment", :locals => {:comment => comment}
