- form_for Comment.new(:commentable => commentable) do |form|
  = form.hidden_field :commentable_type
  = form.hidden_field :commentable_id
  = form.text_area :body
  .clear
  = submit_tag "Post Comment"

:coffeescript
  $(->
    commentText

    commentForm = $("#new_comment")

    commentForm.submit ->
      if (loggedIn)
        return true
      else
        requireLogin ->
          commentForm.submit()
  )


