.comments_area
  = render :partial => "shared/comment_form", :locals => {:commentable => commentable}
  .comments
    - commentable.comments.each do |comment|
      = render :partial => "comments/comment", :locals => {:comment => comment}
