- if !@hide_feedback
  #feedback
    = link_to "", "/survey"

  :javascript
    $(function() {
      $("#feedback").mouseover(function() {
        $(this).animate({left: -7}, "fast");
      }).mouseout(function() {
        $(this).animate({left: -15});
      });
    });
