#footer
  %center
    %p
      %fb:like
  %center
    <a rel="license" href="http://creativecommons.org/licenses/sa/1.0/"><img alt="Creative Commons License" style="border-width:0" src="/images/cc/88x31.png" /></a>
  %center
    = link_to "Developer", developer_plugins_path
