%header(eventCategory="Header")><
  = link_to root_path, :eventLabel => 'logo' do
    = image_tag "https://2.pixiecdn.com/sprites/29814/original.png", size: "50", alt: "Pixie Engine Logo"
  :ruby
    nav_links = [
      ['Pixel Editor', pixel_editor_path],
      ['Gallery', sprites_path],
      ['Tune Composer', new_tune_path],
      ['Tunes', tunes_path],
    ]
  - nav_links.each do |text, url|
    - current_class = current_page?(url) ? 'current' : ''
    - if text == nav_links.last[0]
      - current_class += " break"
    = link_to(text, url, class: current_class)

  = render :partial => "/shared/login"
