#header
  %p.left
    = link_to "Draw", new_sprite_path, :class => "button"
    = link_to "Browse", sprites_path, :class => "button"
    = link_to "Feedback", new_feedback_path, :class => "button"
    
