%head
  %title
    - if @title
      = @title
    Pixie Engine - Create!
  %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
  %meta{ :name => "description", :content => (@meta_desc || "This free online pixel editor is amazingly simple. Build on the work of others and share your creations, or start fresh and create something new.") }

  <meta name="msvalidate.01" content="AA62CD2D00BD5CE103C280DD73C569C0" />
  = csrf_meta_tag

  = stylesheet_link_tag 'screen', :media => 'screen, projection'
  <link rel="icon" href="https://2.pixiecdn.com/sprites/29814/original.png" type="image/png" />
