%ul.nav.pull-right
  - if current_user
    %li.divider-vertical
    %li.dropdown
      %a.dropdown-toggle(href="#" data-toggle='dropdown')
        /= image_tag(current_user.avatar.url(:thumb), :alt => current_user.display_name, :title => current_user.display_name, :class => 'user_info', :size => "20x20")
        =current_user.display_name
        %b.caret
      %ul.dropdown-menu
        :ruby
          user_links = [
            ['My Projects', projects_path(:filter => 'own')],
            ['My Profile', user_path(current_user)],
            ['Account Settings', edit_user_path(current_user)],
            ['Log out', sign_out_path],
          ]
        - user_links.each do |text, url|
          %li= link_to(text, url)

  - else
    = link_to "Log in or sign up", sign_in_path,  { :title => "Log in", :class => "btn button btn-primary" }

- content_for :javascript do
  :coffeescript
    $('.new_project').tipsy
      gravity: 'n'
      opacity: 1

    $('.log_out').mousedown (e) ->
      $('.user_drop_down').toggleClass('active')
      e.stopPropagation()

    $(document).mousedown (e) ->
      target = e.target
      drop_down = $('.user_drop_down').get(0)

      if drop_down
        $('.user_drop_down').removeClass('active') unless $.contains(drop_down, target)
