#dockContainer
  #dockWrapper
    .cap.left
    %ul.osx-dock
      %li
        %span Pixel Editor
        %a{ :href => "/", :title => "Pixel Editor" }
          %img{ :src => "/images/pixie_dock.png" }
      %li
        %span Sprite Gallery
        %a{ :href => "/sprites", :title => "Sprite Gallery" }
          %img{ :src => "/images/sprites_dock.png" }
      %li
        %span Animation Editor
        %a{ :href => "/animations/new", :title => "Animation Editor" }
          %img{ :src => "/images/animation_dock.png" }
      %li
        %span Tilemaps Editor
        %a{ :href => "/tilemaps/new?tileset_id=355", :title => "Tilemap Editor" }
          %img{ :src => "/images/tilemap_dock.png" }
      %li
        %span IDE
        %a{ :href => "/developer/apps", :title => "IDE" }
          %img{ :src => "/images/ide_dock.png" }
      %li
        %span Sound FX Editor
        %a{ :href => "/sfx-editor", :title => "Sound FX Editor" }
          %img{ :src => "/images/sfx_dock.png" }
      %li#chat
        %span Chat
        %a{ :href => "#", :title => "Chat" }
          %img{ :src => "/images/chat_dock.png" }

#hide_dock

:coffeescript
  $ ->
    if (localStorage.chat == 'active' && $('body').attr('id') == 'fullscreen')
      $('#chatZone').show()
      $('#chats').scrollTo
        left: '0%'
        top: '100%'

    $(".osx-dock a").tipsy
      fade: false
      gravity: "s"

    $('#hide_dock').mousedown ->
      $(this).toggleClass('show_dock')
      $('#dockContainer').slideToggle('slow')

    $('#chat').mousedown ->
      $('#chatZone').toggle()

      $('#chats').scrollTo
        left: '0%'
        top: '100%'

      if $('#chatZone').css('display') == 'none' then localStorage.chat = false else localStorage.chat = 'active'

%style
  :sass
    @import util

    #fullscreen
      position: relative

      &.light
        #hide_dock
          background: url(/images/hide_dock_light.png) no-repeat

          &.show_dock
            background: url(/images/show_dock_light.png) no-repeat

        .cap
          background: url(/images/dock_background_left_light.png) bottom left no-repeat

        ul.osx-dock
          background: url(/images/dock_background_left_light.png) no-repeat right bottom

    #hide_dock
      +bounds(30px)

      background: url(/images/hide_dock.png) no-repeat
      position: fixed
      bottom: 0
      right: 0
      left: 0
      margin: auto
      z-index: 100

      &.show_dock
        background: url(/images/show_dock.png) no-repeat

    #dockContainer
      +bounds(508px, 72px)
      bottom: 0
      left: 0
      right: 0
      margin: auto
      position: fixed
      z-index: 100

    #dockWrapper
      border-bottom: solid 2px rgba(255, 255, 255, .35)
      display: inline-block
      line-height: 0
      position: relative
      width: auto

    .cap
      +bounds(30px, 50px)

      background: url(/images/dock_background_left.png) bottom left no-repeat

      &.left
        bottom: 0
        left: 0
        position: absolute

    ul
      list-style: none outside

      &.osx-dock
        background: url(/images/dock_background_left.png) no-repeat right bottom
        display: inline-block
        height: 70px
        margin: 0 0 0 30px
        overflow: hidden
        padding: 0 30px 0 0

        li
          +bounds(50px)

          display: block
          float: left
          margin: 0px 7px 0 7px
          position: relative
          text-align: center
          -webkit-transition: 0.15s linear
          -webkit-transition-property: -webkit-transform margin

          span
            display: none

          a
            display: block
            height: 50px
            -webkit-transition: 0.15s linear
            -webkit-transition-property: -webkit-transform margin
            margin: 0
            -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)))

            img
              width: 48px


























