#dockContainer
  #dockWrapper
    .cap.left
    %ul.osx-dock
      %li
        %span Share with friends
        %a{ :href => "#", :title => "Share with friends", :rel => "tipsy" }
          %img{ :src => "/images/share_dock_icon.png" }
      %li
        %span Pixel Editor
        %a{ :href => "/", :title => "Pixel Editor", :rel => "tipsy" }
          %img{ :src => "/images/pixie_dock.png" }
      %li
        %span Animation Editor
        %a{ :href => "/animations/new", :title => "Animation Editor", :rel => "tipsy" }
          %img{ :src => "/images/animation_dock.png" }
      %li
        %span Tilemaps Editor
        %a{ :href => "/tilemaps/new?tileset_id=355", :title => "Tilemap Editor", :rel => "tipsy" }
          %img{ :src => "/images/tilemap_dock.png" }
      %li
        %span IDE
        %a{ :href => "/developer/apps", :title => "IDE", :rel => "tipsy" }
          %img{ :src => "/images/ide_dock.png" }
      %li
        %span Sound FX Editor
        %a{ :href => "/sfx-editor", :title => "Sound FX Editor", :rel => "tipsy" }
          %img{ :src => "/images/sfx_dock.png" }
      %li
        %span Placeholder
        %a{ :href => "#", :title => "Placeholder", :rel => "tipsy" }
          %img{ :src => "/images/sfx_dock_icon.png" }

:coffeescript
  $ ->
    $("a[rel='tipsy']").tipsy
      fade: false
      gravity: "s"

%style
  :sass
    @import util

    #dockContainer
      +border-radius(6px)
      +bounds(100%, 120px)

      bottom: 12px
      line-height: 1
      padding: 50px 0 0
      position: fixed
      text-align: center
      z-index: 100

    #dockWrapper
      border-bottom: solid 2px rgba(255, 255, 255, .35)
      display: inline-block
      line-height: 0
      position: relative
      width: auto

    .cap
      +bounds(40px, 100px)

      background: url(/images/dock_background_left.png) bottom left no-repeat

      &.left
        bottom: 0
        left: 0
        position: absolute

    .left
      float: left

    ul
      list-style: none outside

      &.osx-dock
        background: url(/images/dock_background.png) no-repeat right bottom
        display: inline-block
        height: 130px
        margin: 0 0 0 40px
        overflow: hidden
        padding: 0 40px 0 0

        li
          +bounds(50px)

          display: block
          float: left
          margin: 60px 7px 4px 7px
          position: relative
          text-align: center
          -webkit-transition: 0.15s linear
          -webkit-transition-property: -webkit-transform margin

          span
            +border-radius(6px)

            background: rgba(0, 0, 0, 0.75)
            bottom: 80px
            color: #fff
            display: none
            font-size: 11px
            font-weight: bold
            margin: 0 auto
            padding: 3px 6px
            position: absolute
            width: auto

          a
            display: block
            height: 50px
            padding: 0 1px
            -webkit-transition: 0.15s linear
            -webkit-transition-property: -webkit-transform margin
            margin: 0
            -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)))

            img
              width: 48px


























