- unless @hide_dock
  #dockContainer
    #dockWrapper
      .cap.left
      %ul.osx-dock
        %li
          %span Pixel Editor
          = link_to_unless_current image_tag("dock/pixel.png"), new_sprite_path, :title => "Pixel Editor"
        %li
          %span Sprite Gallery
          = link_to_unless_current image_tag("dock/sprites.png"), sprites_path, :title => "Sprite Gallery"
        %li
          %span Projects
          = link_to_unless_current image_tag("dock/ide.png"), projects_path, :title => "Projects"
        %li
          %span Users
          = link_to_unless_current image_tag("dock/people.png"), users_path, :title => "People"

  #hide_dock

  :coffeescript
    $ ->
      $(document).bind 'keydown', 'c', (e) ->
        e.preventDefault()
        $('#openChat').mousedown()

      $(document).bind 'keydown', 'd', (e) ->
        e.preventDefault()
        $('#hide_dock').mousedown()

      active_app = $('<img />',
        class: 'active'
        src: "/images/active_app.png"
      ).css('padding-top', '12px')

      $('.osx-dock li span + img').after(active_app)

      if localStorage.dock == 'hide'
        $('#dockContainer').hide()
        $('#hide_dock').addClass('show_dock')

      $('.osx-dock a').tipsy
        fade: false
        gravity: 's'

      $('#hide_dock').mousedown ->
        $(this).toggleClass('show_dock')
        $('#dockContainer').slideToggle(175)

        if $(this).hasClass('show_dock')
          localStorage.dock = 'hide'
        else
          localStorage.dock = 'show'

  %style
    :sass
      @import util

      #hide_dock
        +bounds(30px)

        background: url(/images/hide_dock.png) no-repeat
        position: fixed
        bottom: 0
        right: 0
        left: 0
        margin: auto
        z-index: 100

        &.show_dock
          background: url(/images/show_dock.png) no-repeat

        .light &
          background: url(/images/hide_dock_light.png) no-repeat

          &.show_dock
            background: url(/images/show_dock_light.png) no-repeat

      #dockContainer
        +bounds(320px, 70px)
        bottom: 0
        left: 0
        right: 0
        margin: auto
        position: fixed
        z-index: 100

        #dockWrapper
          border-bottom: solid 2px rgba(255, 255, 255, .35)
          display: inline-block
          line-height: 0
          position: relative
          width: auto

        .cap
          +bounds(30px, 50px)

          background: url(/images/dock_background_left.png) bottom left no-repeat

          .light &
            background: url(/images/dock_background_left_light.png) bottom left no-repeat

          &.left
            bottom: 0
            left: 0
            position: absolute

        ul
          list-style: none outside

          .light &.osx-dock
            background: url(/images/dock_background_left_light.png) no-repeat right bottom

          &.osx-dock
            background: url(/images/dock_background_left.png) no-repeat right bottom
            display: inline-block
            height: 70px
            margin: 0 0 0 30px
            overflow: hidden
            padding: 0 30px 0 0

            li
              +bounds(50px)

              display: block
              float: left
              margin: 0px 7px 0 7px
              position: relative
              text-align: center
              -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)))

              span
                display: none

      #dockContainer #dockWrapper .osx-dock li

        img:not(.active)
          +bounds(48px)

        a
          color: transparent
          display: block
          height: 50px
          margin: 0
