- prev_commenter = nil

- Chat.recent.reverse.each do |chat|
  %li
    - if chat.user_id != prev_commenter
      %hr
      %span.name= (chat.user ? chat.user.display_name : "Anonymous")
      %span.time= chat.created_at.strftime("%l:%M%P")
    %span.message= chat.text.html_safe
  - prev_commenter = chat.user_id
