#registerModal.modalElement
  #registration
    %h2 Log in to continue
    = render :partial => 'users/form', :locals => {:user => User.new}
  #logIn{:style => "display: none;"}
    %h2 Please Sign In
    = render :partial => 'user_sessions/form'
  = link_to_function "Create a new account with Pixie", "$('#registration').show(); $('#logIn').hide(); $(this).hide().next().show();", :style => "display: none;"
  = link_to_function "Log in with existing account", "$('#registration').hide(); $('#logIn').show(); $(this).hide().prev().show();"

:javascript
  var logInCallback;

  function requireLogin(callback) {
    if(!loggedIn) {
      logInCallback = callback;
      $("#registerModal").modal({
        containerCss: {
          height: 460,
          width: 300
        }
      });
      trackPageview("/event/login_screen");
    } else {
      callback();
    }
  }

  $(function() {
    function ajaxifyForm(selector, registration) {
      var form = $(selector);

      form.ajaxForm({
        dataType: 'json',
        success: function(data) {
          if(data.status == "ok") {
            $.modal.close();
            loggedIn = true;
            if(registration) {
              trackPageview("/event/registered");
            }
            logInCallback();
          } else {
            var errorExplanation = form.find(".errorExplanation");
            if(errorExplanation.length == 0) {
              errorExplanation = $("<div class='errorExplanation' />");
            }

            var errorList = $("<ul />");
            $.each(data.errors, function(i, error) {
              errorList.append($("<li />").text(error));
            });

            errorExplanation.html('');
            errorExplanation.append(errorList);

            form.prepend(errorExplanation);
          }
        }
      });
    }

    ajaxifyForm("#new_user", true);
    ajaxifyForm("#new_user_session");
  });

%style
  :sass
    #fullscreen #registerModal
      a
        color: #fff
