.header
  %h2
    {{if current_user_id && current_user_id == owner_id}} Your {{/if}}
    Sprites
  {{if current_user_id && current_user_id == owner_id}}
  %a.button.complement(href="/pixel-editor") New Sprite
  {{/if}}
.pagination
