@import "util"

$bottom_module: 250px
$left_module: 300px
$right_module: 100px

$highlight: #FEF7CB

$action_bar_height: 30px

body#fullscreen > .content
  height: 0

.animation_editor
  +user-select
  p
    margin: 0.25em 0

  .content
    & >
      section
        padding-left: $left_module
        padding-right: $right_module
        padding-bottom: $bottom_module

        .relative
          +bounds(100%)

          .player
            height: 100%
            position: relative

            img
              bottom: 0
              left: 0
              margin: auto
              position: absolute
              right: 0
              top: 0

          .controls
            +bounds(100%, $action_bar_height)
            +box-sizing(border-box)
            +linear-gradient(color-stops(#7F7F7F, #666))
            +user-select

            bottom: 0
            padding: 2px
            position: absolute

            .play
              +bounds(25px, 29px)

              background-image: url(/images/play.png)
              display: inline-block

            .stop
              +bounds(25px, 29px)

              background-image: url(/images/stop.png)
              display: inline-block

            .scrubber_container
              +bounds(100%)
              +box-sizing(border-box)

              position: absolute
              bottom: 0
              left: 60px
              padding-right: 135px

            .scrubber
              +bounds(100%)

            .fps
              bottom: 5px
              position: absolute
              right: 0

              input
                vertical-align: top
                width: 40px

      nav.right
        +bounds($right_module, 100%)
      nav.left
        +bounds($left_module, 100%)
        +box-sizing(border-box)

        padding-bottom: $bottom_module

        .sequences, .sprites
          height: 50%
          overflow: auto

        .sprites
          img
            display: inline-block
            max-height: 40px
            max-width: 40px
            padding: 2px

            &:hover
              +border-radius(2px)
              background-color: $highlight

        .sequence
          +bounds(100px)

          cursor: pointer
          display: inline-block
          position: relative

          img
            +border-radius(2px)

            border: 1px solid rgba(0, 0, 0, 0.15)
            background: $light_background url(/images/icons/arrow_right.png) no-repeat left top
            max-height: 80px
            max-width: 80px
            position: absolute

            &:nth-child(1)
              left: 2px
              top: 2px

            &:nth-child(2)
              left: 4px
              top: 4px

            &:nth-child(3)
              left: 6px
              top: 6px

            &:nth-child(4)
              left: 8px
              top: 8px

      nav.left, nav.right
        .background_color
          +box-sizing(border-box)

          background-color: $light_highlight
          border: 1px solid lighten($light_highlight, 5%)
          border-bottom: none
          border-right: none
          height: 100%
          padding: 0.5em

      .left, .right
        h3
          display: inline-block
          margin-bottom: 0
          margin-top: 0
          margin-right: 0.5em
          vertical-align: middle

      .bottom
        +border-radius(0)
        +box-shadow(none)
        height: 250px

        h3
          display: inline-block
          margin-bottom: 0
          margin-top: 0
          margin-right: 0.5em
          vertical-align: middle

        button
          margin-bottom: 0
          margin-top: 0

        .frame_sprites
          .sequence
            +bounds(100px)

            cursor: pointer
            display: inline-block
            position: relative

            img
              +border-radius(2px)

              border: 1px solid rgba(0, 0, 0, 0.15)
              background: $light_background
              max-height: 80px
              max-width: 80px
              position: absolute

              &:nth-child(1)
                left: 2px
                top: 2px

              &:nth-child(2)
                left: 4px
                top: 4px

              &:nth-child(3)
                left: 6px
                top: 6px

              &:nth-child(4)
                left: 8px
                top: 8px

          img
            +box-sizing(border-box)

            border: 1px solid transparent
            display: inline-block
            max-height: 80px
            max-width: 80px
            padding: 2px

            &.current
              background-color: $highlight
              border: 1px solid #FFE475

  .state_name, .frame_sprites .img, .sprites img
    cursor: pointer
