@import "util"

$bottom_module: 250px
$left_module: 340px
$right_module: 100px

$highlight: #FEF7CB
$highlight_border: #FFE475

$action_bar_height: 30px
$sequence_width: 100px
$tileset_sprite_width: 60px

.animation_editor
  +user-select

  img
    border: 1px solid transparent

  button
    margin-bottom: 0
    margin-top: 0

  h3, h4
    display: inline-block
    margin: 0 1em 0 0
    padding: 0
    vertical-align: middle

  .sequence
    +bounds($sequence_width)

    cursor: pointer
    display: inline-block
    position: relative

    img
      +border-radius(2px)
      +max-bounds(80px)

      border: 1px solid rgba(0, 0, 0, 0.15)
      background: $light_background
      position: absolute

      /* I <3 SASS */
      @for $n from 1 through 50
        &:nth-child(#{$n})
          left: 2px * $n
          top: 2px * $n
          z-index: $n

      &.selected
        background: $highlight
        border: 1px solid $highlight_border

  .content
    section
      padding: 0 $right_module $bottom_module $left_module

    .relative
      +bounds(100%)

    .player
      +user-select

      height: 100%
      position: relative

      img
        bottom: 0
        left: 0
        margin: auto
        position: absolute
        right: 0
        top: 0

    .controls
      +bounds(100%, $action_bar_height)
      +box-sizing(border-box)
      +linear-gradient(color-stops(#7F7F7F, #666))
      +user-select

      bottom: 0
      padding: 2px
      position: absolute

      .play, .stop
        +bounds(25px, 29px)
        display: inline-block

      @each $action in play, stop
        .#{$action}
          background-image: url(/images/#{$action}.png)

      .scrubber_container
        +bounds(100%)
        +box-sizing(border-box)

        position: absolute
        bottom: 0
        left: 60px
        padding-right: 135px

      .scrubber
        +bounds(100%)

      .fps
        bottom: 5px
        position: absolute
        right: 0

        input
          vertical-align: top
          width: 40px

    .left, .right
      .background_color
        +box-sizing(border-box)

        background-color: $light_highlight
        border-left: 1px solid lighten($light_highlight, 5%)
        border-top: 1px solid lighten($light_highlight, 5%)
        height: 100%
        padding: 0.5em
        padding-bottom: $bottom_module

    .left
      +bounds($left_module, 100%)

      .sequences, .sprites
        height: 50%
        overflow: auto

      .sprites img
        +max-bounds($tileset_sprite_width)

        display: inline-block
        padding: 2px

        &:hover
          +border-radius(2px)
          background-color: $highlight

    .right
      +bounds($right_module, 100%)

    .bottom
      +border-radius(0)
      +box-shadow(none)

      height: $bottom_module
      overflow: auto
      z-index: 100

    .frame_sprite, img
      +box-sizing(border-box)

      cursor: pointer
      display: inline-block
      padding: 2px
      vertical-align: top

    .frame_sprite
      +bounds($sequence_width)

      position: relative

      img
        +max-bounds(80px)

        &.selected
          background: $highlight
          border: 1px solid $highlight_border


  .state_name
    cursor: pointer
    overflow-x: hidden
    white-space: nowrap
