$blueprint-button-font-color = "#0C639B"
$blueprint-button-active-background-color = "#0C639B"
$blueprint-button-active-font-color = "#f5fcff"
$blueprint-button-hover-background-color = "#EBF7FF"
$blueprint-button-hover-font-color = "#1084ce"

$complementary_orange = complement($pixie_primary)

button, a.button
  +button-button
  +button-colors
  +button-hover-colors
  +button-active-colors
  +border-radius(4px)
  +linear-gradient(color-stops(#fefeff, #f5fcff 33%, #90cff8))

  &.complement
    +button-colors(white, $complementary_orange, darken($complementary_orange, 20%))
    +button-hover-colors(white, $complementary_orange, darken($complementary_orange, 5%))
    +linear-gradient(color-stops(lighten($complementary_orange, 15%), darken($complementary_orange, 5%)))
    +text-shadow(darken($complementary_orange, 40%), 0, 0, 2px)

    &:active, &.active
      +linear-gradient(color-stops(darken($complementary_orange, 10%), $complementary_orange 33%, lighten($complementary_orange, 15%)))

  &:active, &.active
    +linear-gradient(color-stops(#0c639b, #70c2f6 33%, #90cff8))

  &[disabled]
    +linear-gradient(color-stops(#fefeff, #f5fcff 33%, #b2e2ff))
    border-color: #f5fcff
    color: #AAA
    cursor: default

  .button_group > &
    +border-radius(0)
    margin: 0 -1px 0 0
    &:first-child
      +border-left-radius(4px)
    &:last-child
      +border-right-radius(4px)
      margin: 0

.button_group
  +inline-block

  margin-right: 0.5em
