@import partials/base
@import util

$chat_background: $light_background

.left_content
  +bounds(360px, 273px)
  +box-shadow(rgba(255, 255, 255, 0.07), 1px, 0, 0)

  border-right: 1px solid $dark_highlight
  display: inline-block

#openChat
  +bounds(167px, 18px)
  +user-select

  background-color: $branded_blue
  border: 1px solid #888
  border-bottom: none
  bottom: 0
  color: $dark_text
  cursor: pointer
  font-weight: bold
  position: fixed
  right: 15px
  text-align: center

#chatZone
  +bounds(530px, 300px)
  +box-sizing(border-box)
  +scrollbars

  background-color: $dark_highlight
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: #fff
  display: none
  padding: 0
  position: fixed
  bottom: 18px
  right: 15px
  z-index: 200

  .light &
    background-color: $chat_background
    color: #000

  .header
    background-color: $branded_blue
    color: $dark_text
    cursor: pointer
    font-size: 110%
    margin: 0
    padding: 0.25em 0.5em

  #send
    margin: 0 0 0 -2px
    font-weight: bold
    padding-left: 8px
    padding-right: 8px
    vertical-align: top
    height: 24px

#chats
  +bounds(360px, 240px)

  color: #333
  display: inline-block
  font: 12px Helvetica, Arial
  list-style: none
  overflow-y: auto
  overflow-x: hidden
  word-wrap: break-word

  hr
    border-top: 1px solid rgba(0, 0, 0, 0.10)

  .name
    background-color: $chat_background
    font-weight: bold
    position: absolute
    top: 10px

  .time
    background-color: $chat_background
    color: rgba(0, 0, 0, 0.35)
    display: none
    font-style: italic
    font-size: 8pt
    position: absolute
    right: 0
    top: 12px

  li
    padding: 5px 0 5px 5px
    position: relative
    margin: 0

.users_wrapper
  display: inline-block
  max-height: 300px
  overflow-y: auto
  overflow-x: hidden
  vertical-align: top
  width: 155px

#active_users
  list-style: none
  display: inline-block
  margin-top: 0.5em

  img
    vertical-align: middle

#chat_body
  +bounds(83%, 24px)

  display: inline
  margin-left: 0.5em
