/* Copyright STRd6 2011

@import main/form
@import main/header
@import main/list

html
  height: 100%

body
  background-color: white
  font-family: $normal_font
  font-size: 12px
  line-height: 1.5

/* It's strange this doesn't work exactly right when put in body
#fullscreen
  +scrollbars

a
  color: $pixie_primary
  font-weight: bold
  text-decoration: none
  &:hover
    color: $link_hover
    text-decoration: underline

.left
  float: left

.right
  float: right

.clear
  clear: both

#flashes
  display: none

div.star
  background-image: url(../images/icons/star.png)
  width: 16px
  height: 16px

div.no-star
  background-image: url(../images/icons/star_empty.png)
  width: 16px
  height: 16px

.relative
  position: relative

.round
  +border-radius(5px)

.no_border
  border: none

.noselect
  +user-select(none)

.template
  display: none

.unsupported
  display: none

.clickable
  cursor: pointer

nav.top
  position: absolute
  top: 0
  left: 120px

.inline
  display: inline
