.pagination
  margin-bottom: 1em

  a, span, em
    +border-radius(3px)
    background-color: white
    display: block
    float: left
    margin-right: 1px
    padding: .2em .5em

  span.disabled
    color: $light_gray
    border: 1px solid $light_gray

  em
    background: $pixie_primary
    border: 1px solid $pixie_primary
    color: white
    font-weight: bold

  a
    border: 1px solid $light_gray
    &:hover, &:focus
      background-color: $hover
      text-decoration: none

  /* self-clearing method:
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child+html &
    overflow: hidden
