@import compass/css3
@import partials/bounds

=user-select( !user_select )
  -moz-user-select: !user_select
  -khtml-user-select: !user_select
  -webkit-user-select: !user_select
  -o-user-select: !user_select
  user-select: !user_select
