$sprite_container_bounds: 72px

#fullscreen
  background-color: $editor_background
  height: 100%

  #logo
    +bounds(68px, 34px)

    background-image: url(/images/pixie.png)
    margin-left: 4px
    margin-top: 4px
    position: absolute
    top: 0
    left: 0

body
  +box-sizing(border-box)

  color: #fff
  padding: $editor_page_padding

img
  +inline-block
  +max-bounds(64px)

  vertical-align: middle

#flashes
  color: #000
  padding-left: 80px

.x, .duplicate
  +bounds(24px, 29px)

  cursor: pointer
  display: inline-block
  right: -15px
  position: absolute

.x
  background-image: url(/images/x.png)
  top: -12px

.duplicate
  background-image: url(/images/duplicate_layer.png)
  bottom: 18px

.sprite_container
  +border-radius
  +bounds($sprite_container_bounds)
  +inline-block

  background-color: #fff
  position: relative

.animation_editor
  +box-sizing(border-box)
  +user-select

  height: 100%
  position: relative

  .main
    +bounds(100%)
    +box-sizing(border-box)

    padding-bottom: 175px
    padding-right: 175px

    .user_sprites
      +border-radius
      +bounds(100%)
      +box-sizing(border-box)

      border: 1px solid $pixie_primary
      overflow: auto
      padding: 20px

    .sprite_container
      +box-shadow(#ccc, 3px, 3px, 15px)
      +contents-centered

      cursor: move
      margin-bottom: 7px
      margin-right: 7px
      overflow: hidden

      &:hover
        background-color: $hover

  .bottom
    +box-sizing(border-box)

    padding-right: 175px
    position: absolute
    bottom: 0
    left: 0
    width: 100%

  .frame_sprites
    +border-radius

    background-color: $dark_highlight
    border: 2px solid transparent
    overflow-y: hidden
    padding: 20px
    white-space: nowrap

    &.highlight
      border: 2px solid $pixie_primary

    .demo
      +border-radius
      +bounds($sprite_container_bounds)
      +box-shadow($editor_box_shadow, 2px, 2px, 15px)

      background-color: #ccc
      border: 4px dotted #aaa

    .sprite_container
      +box-shadow($editor_box_shadow, 2px, 2px, 15px)

      border: 4px solid transparent
      margin-right: 20px

      &:hover, &:highlight
        background-color: $hover

      &.selected
        border: 4px solid $pixie_primary

      img
        cursor: move
        margin: auto
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

    p
      position: absolute
      bottom: ($sprite_container_bounds / 2) + 10
      left: ($sprite_container_bounds) + 35px
      margin: 0

  .sidebar_right
    +bounds(116px, 100%)
    +box-sizing(border-box)

    padding-bottom: 63px + 175px
    position: absolute
    text-align: center
    right: 0
    top: 0

    h3
      margin: 0

    #save
      +inline-block

      vertical-align: middle

    .animations
      +border-radius
      +box-sizing(border-box)

      background-color: $dark_highlight
      height: 100%
      margin-bottom: 15px
      text-align: center
      overflow-y: auto
      padding: 10px

      .speed, .sprites
        visibility: hidden

      .name
        margin-bottom: 4px
        margin-left: auto
        margin-right: auto
        width: $sprite_container_bounds

      .animation
        +border-radius
        +bounds($sprite_container_bounds)

        background-color: #fff
        margin-left: auto
        margin-right: auto
        margin-bottom: 4px

      .cover
        +border-radius
        +bounds($sprite_container_bounds)
        +box-sizing(border-box)
        +contents-centered

        &.active
          border: 3px solid $pixie_primary

  .preview_box
    +border-radius
    +bounds(125px)
    +inline-block

    position: absolute
    bottom: 0
    right: 0

    .animation_speed
      position: absolute
      left: 15px
      top: -10px

    input
      margin-bottom: 5px
      width: 30px

    .sprite_container
      +bounds(96px)

      margin: auto
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0

    .sprites
      +bounds($sprite_container_bounds)

    img
      display: none
      margin: auto
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

      &.active
        display: block

    #play, #stop
      +bounds(24px, 29px)

      position: absolute
      bottom: -16px

    #play
      background-image: url(/images/play.png)
      right: -10px

      &.pause
        background-image: url(/images/pause.png)

    #stop
      background-image: url(/images/stop.png)
      left: -10px
