@import util

!d1_red = #800

#testFrame
  display: block

.dialog_box
  +box-sizing(border-box)
  +bounds(200px, 100px)
  +border-radius(20px)
  +box-shadow
  +linear-gradient(color-stops(#ccc, !d1_red))

  background-color: #ccc
  border: 2px solid !d1_red
  margin: auto
  padding: 5px

  p
    color: !d1_red
    font-family: Helvetica
    font-weight: bold
    margin: 2px
