/* This is a temporary place for things common to branding/landing page explorations

@import util

body#fullscreen
  height: auto
  min-height: 100%
  padding: 0

  & > .content
    padding-bottom: 5em

.content
  margin: auto
  width: 1000px

header, footer
  +bounds(100%, auto)

  background-color: $dark_highlight
  color: $dark_text

header
  +box-shadow(#333, 0, 0, 10px, 1px)

  margin-bottom: 1em

  .content
    overflow: auto
    padding: 0.5em 0
    position: relative

    .logo
      +bounds(100px, 53px)
      +inline-block

      background-image: url(/images/shadow_logo.png)
      float: left
      margin: 0
      margin-top: -4px
      position: static

    .login_link
      margin-top: -19px
      position: static
      float: right

    .blurb
      +inline-block

      margin-left: 7em
      margin-top: 3px

    .bulb
      display: none

footer
  bottom: 0
  position: absolute

  .content
    display: block
    padding: 1em 0
