button, #content a.button
  +button-button
  +button-colors
  +button-hover-colors
  +button-active-colors
  +border-radius(4px)

  &[disabled]
    color: #AAA
    cursor: default

    &:hover
      color: #AAA
