$blueprint-button-font-color = "#0C639B"
$blueprint-button-active-background-color = "#0C639B"
$blueprint-button-active-font-color = "whiteSmoke"
$blueprint-button-hover-background-color = "#EBF7FF"

button, #content a.button
  +button-button
  +button-colors
  +button-hover-colors
  +button-active-colors
  +border-radius(4px)

  &[disabled]
    color: #AAA
    cursor: default

    &:hover
      color: #AAA

#content #pixie .pixie .actions
  a.button
    padding: 4px 3px 3px

  .pillbox-left
    +border-right-radius(0)
    margin-right: 1px

  .pillbox-middle
    +border-radius(0)
    margin-right: 1px

  .pillbox-right
    +border-left-radius(0)
