@import partials/base
@import util

body > form
  button
    height: 30px

body > form
  +border-radius

  background-color: $dark_highlight
  margin: auto
  padding: 1.5em 2em
  width: 300px

  textarea
    width: 100%

  input
    margin: 0 0 1em 0

    &[type=text], &[type=password]
      width: 100%

    &[type=radio]
      margin-right: 0.5em

  .light &
    background-color: $light_highlight

  .actions
    +box-sizing(border-box)

    overflow: auto
    width: 100%

form, #new_user, #new_user_session
  .field_with_errors
    display: inline

    label
      color: $error_color

    input
      border-color: $error_color

  .errorExplanation
    +border-radius(5px)

    background-color: #FEF1EC
    border: 1px solid $error_color
    color: $error_color
    margin-bottom: 1.5em
    padding: 1em 1.5em

    h2
      font-size: 150%

label, input, textarea
  font-family: Verdana, sans-serif
  font-size: 12px
  letter-spacing: 0.5px

label
  display: block
  font-weight: bold
  padding-top: 0.5em

input[disabled]
  background-color: #ccc

input[type=text], input[type=password], input[type=file], textarea
  +border-radius(2px)
  +box-shadow(#888, 1px, 1px, 1px, 0px, inset)
  +box-sizing(border-box)

  padding: 5px

  &:focus
    border-width: 1px
    border-color: $pixie_primary

input[type=file]
  margin-top: 0.5em
  padding: 0

input[type=text], input[type=password], textarea
  border: 1px solid $light_gray
  display: block
  width: 100%

textarea
  +bounds(300px, 150px)
