@import partials/base
@import util

body > form
  button
    height: 30px

body > form
  +border-radius

  background-color: $dark_highlight
  margin: auto
  padding: 1.5em 2em
  width: 340px

  input
    margin: 0 0 1em 0

    &[type=radio]
      margin-right: 0.5em

  .light &
    background-color: $light_highlight

  .actions
    +box-sizing(border-box)

    overflow: auto
    width: 100%

form
  h2, h3
    font-weight: bold

  button.full
    +bounds(100%, 40px)
    font-size: 170%

  .field_with_errors
    display: inline

    label
      color: $error_color

    input
      border-color: $error_color

  .errorExplanation
    +border-radius(5px)

    background-color: #FEF1EC
    border: 1px solid $error_color
    color: $error_color
    margin-bottom: 1.5em
    padding: 1em 1.5em

    h2
      font-size: 150%

label, input, textarea
  font-family: $normal_font
  font-size: 12px
  letter-spacing: 0.5px

label
  display: block
  font-weight: bold
  padding-top: 0.5em

  h1, h2, h3, h4, h5, h6
    font-family: $normal_font
    letter-spacing: 0

  &.inline
    h1, h2, h3, h4, h5, h6, input
      display: inline

input[disabled]
  background-color: #ccc

input[type=text], input[type=password], input[type=file], textarea
  +border-radius(2px)
  +box-shadow(#888, 1px, 1px, 1px, 0px, inset)
  +box-sizing(border-box)

  padding: 5px

  &:focus
    border-width: 1px
    border-color: $pixie_primary

input[type=file]
  margin-top: 0.5em
  padding: 0

input[type=text], input[type=password], textarea
  border: 1px solid $light_gray
  display: block
  width: 100%

textarea
  height: 150px
