@import util
@import partials/base

$nav_left: 220px
$help_height: 75px
$inner_margin: 20px

#fullscreen
  padding-top: 4em
  #content
    padding-left: $nav_left + $inner_margin
    position: relative

nav.top.actions .status
  input
    background-color: #fff
    color: #000
    padding-left: 5px

ul#libraries
  color: #000
  padding-top: 7px
  padding-bottom: 7px

.import_sprite, .import_sound
  +border-radius
  +bounds(72px)
  +contents-centered

  background-color: white
  display: inline-block
  margin-right: 10px
  margin-bottom: 3px

  &.selected
    background-color: $pixie_primary

  img
    +max-bounds(64px)

.import_sound
  color: #000
  font-size: 10px
  text-align: center

  .control
    +bounds(25px, 29px)

    background-image: url(/images/play.png)
    cursor: pointer

button.save
  +border-right-radius(0)

  margin-right: 0

.nav_left_container
  +box-sizing(border-box)

  height: 100%
  overflow-x: hidden
  overflow-y: hidden
  width: $nav_left

  left: 0
  position: absolute
  top: 0

  nav
    +border-radius
    +bounds(100%)
    +box-sizing(border-box)

    background-color: $dark_highlight
    overflow-y: auto
    padding-bottom: 1em
    padding-top: 1em

    .light &
      background-color: $light_highlight

  .relative
    +bounds(100%)
    +box-sizing(border-box)

    padding-bottom: $help_height + $inner_margin
    position: relative

  .help
    +border-radius
    +box-sizing(border-box)

    background-color: $dark_highlight
    bottom: 0
    left: 0
    height: $help_height
    position: absolute
    padding: 1em
    width: 100%

    .light &
      background-color: $light_highlight

    .button_group
      display: block
      margin: auto
      width: 185px

      button
        font-size: 80%

    h3
      margin: 0
      text-align: center

.treeview ul
  background-color: transparent

.treeview .hover
  color: $pixie_primary

ul.filetree
  margin-top: 0.25em
  margin-left: 1em
  margin-right: 1em
  overflow-x: hidden
  vertical-align: top

  .tab_data
    display: none

  span
    cursor: pointer

    &.folder, &.file
      padding: 1px 0px 1px 18px

    &.folder
      &.resources
        background-image: url(/images/icons/images.png)
      &.sprites
        background-image: url(/images/icons/pictures.png)
      &.sounds
        background-image: url(/images/icons/sound.png)

    &.load_sprite
      background-image: url(/images/icons/picture_go.png)

    &.new_sprite
      background-image: url(/images/icons/picture_add.png)

    &.import_sprites
      background-image: url(/images/icons/image_add.png)

    &.import_sounds
      background-image: url(/images/icons/sound_add.png)

    &.file
      white-space: nowrap
      &.coffeescript, &.coffee
        background-image: url(/images/icons/cup.png)
      &.javascript, &.js
        background-image: url(/images/icons/script.png)
      &.sprite, &.png, &.gif, &.jpg, &.jpeg, &.bmp
        background-image: url(/images/icons/picture.png)
        margin: 0
      &.sound, &.sfs
        background-image: url(/images/icons/sound.png)
        margin: 0
      &.wav, &.mp3
        background-image: url(/images/icons/cd.png)
        margin: 0
      &.documentation
        background-image: url(/images/icons/book_open.png)
      &.new_script
        background-image: url(/images/icons/cup_add.png)
      &.add_library
        background-image: url(/images/icons/book_add.png)

#tabs
  +bounds(100%, 100%)
  +box-sizing(border-box)

  .ui-tabs-nav
    +box-sizing(border-box)
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1

  &.ui-tabs
    .ui-tabs-hide
      display: none

    .ui-tabs-panel
      +box-sizing(border-box)
      height: 100%
      padding: 0
      padding-top: 30px
      position: relative
      button.save, button.new_save
        position: absolute
        right: 1.5em
        top: 0.5em

  form
    height: 100%

  button.save, button.new_save
    display: none

  li
    .ui-icon-close
      float: right
      margin: 0.5em 0.2em 0 0
      cursor: pointer

    &.ui-state-default
      cursor: pointer

      a
        cursor: pointer

      &.ui-state-active
        cursor: default

        a
          cursor: default

    .ui-icon

      &.lang
        float: left
        margin: 0.5em 0 0 0.2em

        &.coffeescript
          background-image: url(/images/icons/cup.png)
        &.javascript
          background-image: url(/images/icons/script.png)
        &.sound
          background-image: url(/images/icons/sound.png)
        &.sprite
          background-image: url(/images/icons/image.png)
        &.documentation
          background-image: url(/images/icons/book.png)

    a
      font-weight: normal
      padding: 0.5em 0.6em

    &.unsaved
      a
        font-weight: bold
        &:after
          content: "*"

#titleModal, #libraries
  display: none

.window, #test_zone, #testZone
  background-color: #EEE
  display: none
  margin-top: 1em
  padding: 0.4em
  position: absolute
  z-index: 1000

  h3
    cursor: move
    margin-bottom: 0
    padding-left: 5px

  iframe
    margin-bottom: -5px

  .ui-icon-close, #close_app
    cursor: pointer
    float: right
    left: -5px
    position: relative
    top: 6px

#test_frame, #testFrame
  background-color: #EEE
  border: 1px solid black

.container
  padding-left: 0

.actions
  display: inline-block
  text-align: center

  .status
    +inline-block

    .message
      width: 200px

#logo
  height: 70px
  position: relative

ul#libraries
  background-color: #FFF
  border: 1px solid #666
  margin-top: -1px
  position: absolute
  width: 200px
  z-index: 10

  li
    padding-left: 5px
    &:hover
      background-color: #666
      color: #FFF

    label
      font-weight: normal

    input[type="checkbox"]
      display: inline-block
      color: #666
      margin: 0
      padding: 0
      position: relative
      vertical-align: top

#import_drop_zone
  background: transparent url(/images/import.png) no-repeat center bottom
  height: 170px
  width: 320px

  p
    font-size: 130%
    margin-left: auto
    margin-right: auto
    width: 292px

.ide
  .file.error
    cursor: pointer

  #properties_editor_window
    h3
      margin-left: -1px
      margin-right: 3px

  #prop_editor
    input
      border: 1px solid #aaa
      margin-right: 4px
      padding: 2px
      width: 130px

    input[placeholder="key"]
      color: #DB0000

    tr
      display: block
      margin-bottom: -2px

    td
      display: inline-block
      margin-left: -1px
      margin-right: -1px

