/* Main css file for Pixie.
  Copyright STRd6 2010

@import constants
@import icon

// Basic layout and font styles
body
  background-color: white
  color: #333333
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size: 12px
  line-height: 1.5
  margin: 0
  padding: 0
  
h1, h2, h3, h4, h5, h6
  color = !main_color
  font-family: 'Josefin Sans Std Light', Arial, serif
  font-weight: normal
  letter-spacing: .1em
  margin: 0 0 .5em 0
  
h1
  font-size: 2.5em
h2
  font-size: 2em
h3
  font-size: 1.5em
  
p, label
  font-family: Verdana, sans-serif

.border
  border: 1px solid #BBB

// Grid container
.container
  margin: 0
  margin-left = $blueprint-grid-margin
  padding-left = ($blueprint-grid-width + $blueprint-grid-margin) * 4
  position: relative
  width: auto

#sidebar
  display: block
  +grid-width(4)
  left: 0
  margin-right = $blueprint-grid-margin
  position: absolute

  #logo
    height: 70px
    position: relative
  
    #logo_type
      bottom: 0
      color = !main_color
      font-size: 32px
      height: 40px
      letter-spacing: .25em
      position: absolute
      text-align: center
      width: 100%
      a
        text-decoration: none
        &:visited
          color: inherit
    
  #description
    color = !light_gray
    font-size: 11px
    font-style: italic
    letter-spacing: .1em
    margin-top = $blueprint-grid-width - $blueprint-grid-margin
    text-align: justify

#header
  +box-sizing(border-box)
  border-bottom = 1px solid !dark_gray
  border-left = 1px solid !dark_gray
  display: inline-block
  height= ($blueprint-grid-width + $blueprint-grid-margin) * 2 - $blueprint-grid-margin
  +grid-width(20)
  position: relative
  
  // Apply to all header links (navigation and log in link)
  a
    +box-sizing(border-box)
    color = !dark_gray
    display: inline-block
    height: 100%
    margin: 0
    padding: 0
    text-align: left
    text-decoration: none
    
  #nav
    bottom: 0
    +box-sizing(border-box)
    display: inline-block
    +grid-width(12)
    padding-left = $blueprint-grid-width + $blueprint-grid-margin
    position: absolute
    
    // Text straight in a span means it's the current page
    span
      color = !main_color
      display: inline-block
      font-weight: bold
      +grid-width(2)
      margin-right = $blueprint-grid-margin
      text-align: left
      text-decoration: none
    
      a
        // HAX
        border-bottom: 4px solid white
        display: inline-block
        width: 100%
        &:hover
          border-bottom = 4px solid !dark_gray
      
  #login_link
    bottom: 0
    color: black
    display: inline-block
    +grid-width(8)
    padding-bottom: 4px
    position: absolute
    right: 0
    text-align: center
    a
      text-align: center
      text-decoration: underline
      &:hover
        text-decoration: none
  
#content
  border-right = 1px solid !dark_gray
  +box-sizing(border-box)
  +grid-width(20)
  padding = ($blueprint-grid-width - $blueprint-grid-margin) $blueprint-grid-width + $blueprint-grid-margin
  padding-bottom: 0
  position: relative
  top: -5px
  
  p
    font-family: Verdana, sans-serif
    letter-spacing: .5px
    line-height: 1.8
    
  a
    color = !link_color
    &:hover
      text-decoration: none
  
#footer
  +grid-width(20)
  margin-top: 2em
  
  center
    height: 3em

// TODO: Good these up, embetter and embiggen
// Error and notice styling
.notification
  padding: 4px
  border-style: groove double
  margin-bottom: 8px
  width: 70%

#notice
  color= !p1
  border-color= !main_color
  background-color= !s2

#error
  color= !error_color
  border-color= !error_color
  background-color= !s2

#errorExplanation, .errorExplanation
  color= !error_color

// Specifics
.chunk
  width: 20em
  float: left
  margin-right: 2em
  margin-bottom: 2em
  padding: 0.5em
  background-color: #8FBC8F

div.star
  background-image: url(../images/icons/star.png)
  width: 16px
  height: 16px

div.no-star
  background-image: url(../images/icons/star_empty.png)
  width: 16px
  height: 16px

.avatar
  padding: 8px

.round
  +border-radius(5px)