.tasks
  left: 30%
  position: absolute
  top: 3em
  width: 260px


  .task
    font-size: 1.1em
    margin-bottom: 0.5em
    position: relative
    img
      vertical-align: top
    .value
      left: 160px
      position: absolute
      top: 0
