- @title = "About"

%p
  On Pixie you can create amazing pixel art for free, from anywhere, and share it
  with the world.
%p
  Our tools are free to the world and we promote a pay it forward philosophy.
  That's why content created with Pixie is licensed under the
  = link_to "Creative Commons ShareAlike license", "http://creativecommons.org/licenses/sa/1.0/"
%p
  As our community grows our aim is to grant all people access to the means of
  production: ideas, tools and data. The more that we offer, the more that is
  returned to the community by way of new ideas and new creations.
%p
  Have fun and enjoy!

%p
  P.S. We make use of the amazing
  = link_to "Silk Icon Set", "http://www.famfamfam.com/lab/icons/silk/"

  , FatCow
  = link_to "Farm-Fresh Web Icons", "http://www.fatcow.com/free-icons"

  , and also Fancy Avatars
  = link_to "2009 Brandon Mathis", "http://brandonmathis.com/projects/fancy-avatars/"
