%h1 Privacy Policy

%p
  You may use PixieEngine for free without giving us any personal data. We do
  track feature usage anonymously to help us to develop the site. When you
  create your account you will need to supply us with your email address. This
  email address is used only to identify your account and to communicate with
  you about PixieEngine.

%h2 Payment Processing

%p
  We use Spreedly for payment processing. Payment information may
  contain personal data about you including your address, phone numbers,
  credit card numbers etc. This information is stored with Spreedly only
  for payment processing and is not used for any other purpose. We are
  not allowed to disclose such personal information without your written
  permission. The information we collect is not shared with or sold to
  others except where required by law.
