%h1 Privacy Policy

%p
  You may use PixieEngine for free without giving us any personal data. We do
  track feature usage anonymously to help us to develop the site. When you
  create your account you will need to supply us with your email address. This
  email address is used only to identify your account and to communicate with
  you about PixieEngine.
