%h1 Products and Services

%h2 PixiePremium

%ul
  %li 15 Active Projects
  %li $15 per month
  %li 1500MB storage
  %li= link_to "Subscribe Now", register_subscribe_path

%h2 Refund Policy
%p
  Satisfaction guaranteed! Not only do we offer a free 30 day trial, but if you
  are not satisfied with any PixieEngine product, simply contact us and ask for
  a refund. We'll gladly refund your payment to make things right.
