%style
  :sass
    .chart
      height: 400px

%h2 Registrations

.chart.registrations

%h2 Colors

%canvas.color(width=480 height=480)

- content_for :javascript do
  = javascript_include_tag "highcharts"

  :coffeescript
    registrations_per_day = #{User.registrations_per_day.to_json}

    data = registrations_per_day.map (datum) ->
      [new Date(datum.date).getTime(), parseInt(datum.count)]

    new Highcharts.Chart
      chart:
        renderTo: $(".chart.registrations").get(0)
      legend:
        enabled: false
      plotOptions:
        series:
          marker:
            enabled: false
      series: [
        data: data
        name: "Registrations"
      ]
      title:
        text: "Registrations Per Day"
      xAxis:
        type: 'datetime'
        dateTimeLabelFormats:
          day: '%b %e'
          week: '%b %e'
          month: '%b'
          year: '%Y'
        title:
          text: "Day"
      yAxis:
        title:
          text: "Registrations"

    colorCanvas = $("canvas.color").pixieCanvas()

    colorData = #{User.select("favorite_color").where("favorite_color IS NOT NULL").map(&:favorite_color).to_json}

    colorCanvas.fill("white")

    colorCanvas.withTransform Matrix.translation(240, 240), ->
      colorData.each (color) ->
        try
          color = Color(color)

          angle = color.hue() * Math.TAU / 360
          saturation = color.saturation()

          position = Point.fromAngle(angle).scale(235 * saturation)

          colorCanvas.drawCircle
            position: position
            radius: 4
            color: color

        catch error
          console.warn(error)
