%style
  :sass
    #fullscreen
      height: auto

.survey_wrapper
  <iframe src="https://spreadsheets.google.com/embeddedform?formkey=dDRGWDY0RG9vSHM0bzYwQ1pFWHpXX3c6MQ" width="530" height="1120" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
