%h2.title
  %a(href="/projects/${id}/ide") ${title}
.gloss
.thumb.fancy
  %a(href="/projects/${id}/fullscreen")
    %img.show(alt="${title}" src="${img}" title="${title}")
%p.description ${description}

