.module_header
  %h3 Frames
  .button_group
    %button.create_sequence{:disabled => "true", :title => "Add frames to create a sequence"}>
      %span.static-pictures
      Create Sequence
    %button.clear_frames{:disabled => "true", :title => "There are no frames to clear"}
      %span.static-application
      Clear Frames
.sprites
