%img
.controls.actions_bar
  .play.static-play
  .pause.static-pause(style="display:none;")
  .stop.static-stop
  .scrubber_container
    %input.scrubber(max="0" min="0" type="range" value="0")
  %label.fps
    fps
    %input(max="60" min="0" type="number" value="30")
