= render :partial => "animations/templates"
= render :partial => "animations/hitcircle_editor"

:coffeescript
  window.createAnimationEditor = (options) ->
    panel = options.panel

    panel.find('form').hide()
    panel.find('.animation_editor').remove()

    try
      data = JSON.parse(panel.find("[name=contents]").val())
    catch e

    editorOptions = $.extend panel.data("options"),
      data: data
      save: ->
        animationEditor.trigger 'doSave'

    animationEditor = $('<div />').appendTo(panel).animationEditor(editorOptions)

    animationEditor.bind 'doSave', ->
      dataString = JSON.stringify(animationEditor.animationData())

      panel.find("[name=contents]").val(dataString)

      animationEditor.trigger 'save',
        contents: dataString
        path: options.path

    return animationEditor
