#file_tree_context_menu.context_menu
  %li= link_to "Rename", "#rename"
  %li= link_to "Delete", "#delete"

- content_for :javascript do
  :coffeescript
    $ ->
      $('.filetree .file:not(.documentation)').contextMenu menu: "file_tree_context_menu", (action, node) ->
        switch action
          when "delete"
            removeFile(node)
          when "rename"
            renameFile(node)
