= form_for project, :remote => true, :html => {:id => "edit_project_form", :class => 'modal hide fade', :style => "display: none;"} do |form|
  = form.error_messages
  .modal-header
    %button.close(type='button' data-dismiss='modal') &times;
    %h2 Edit Project

  .modal-body
    %label
      %h3 Title
      = form.text_field :title

  .modal-footer
    %button.btn.full Update
