:coffeescript
  window.displayErrors = (errors) ->
    if errors.length
      $("#errors").show()

      errorsDiv = $("#errors .content").empty()

      errors.each (error) ->
        $.pnotify
          pnotify_title: 'Compile Errors'
          pnotify_text: "In file: <b>" + error.file + "</b>\n" + error.message
          pnotify_type: 'error'
          pnotify_hide: false
    else
      $("#errors").hide()
