#export_modal.modal
  %h2.header Choose an Export Method

  .choice.zip
    .wrap
      %h3 Zip File
    .static-zip

  .choice.chrome
    .wrap
      %h3 Packaged for Chrome Web Store
    .static-chrome_webstore

- content_for :javascript do
  :coffeescript
    $("#export").click ->
      $("#export_modal").modal()

    $("#export_modal .choice.zip").click ->
      requireLogin ->
        notify("Exporting .zip ...")

        window.location = #{download_project_path(project).to_json}

        $.modal.close()

    $("#export_modal .choice.chrome").click ->
      requireSubscription ->
        notify("Exporting Chrome Web Store Package ...")

        window.location = #{download_project_path(project, :chrome => 1).to_json}

        $.modal.close()
