#import_drop_window.window(style="top: 100px; left: 50px;")
  %span.ui-icon.ui-icon-close
  %h3.ui-widget-header File Importer
  #import_drop_zone

:coffeescript
  $("#import").live "click", ->
    $("#import_drop_window").show()

  $ ->
    extractBase64Data = (dataUrl) ->
      dataUrl.substring(dataUrl.indexOf(',') + 1)

    $("#import_drop_zone").dropImageReader
      matchType: /.*/
      callback: (file, event) ->
        if event.target.readyState == FileReader.DONE
          if file.type == "application/javascript" || file.type == "application/x-javascript"
            path = projectConfig.directories.lib
            type = "text"
            ext = "js"
            lang = "javascript"

          else if file.type == ""
            ext = file.name.match(/\.([^\.]*)$/, '')?[1]

            if ext == "coffee"
              path = projectConfig.directories.source
              type = "text"
              lang = "coffeescript"

          else if file.type.match(/image.*/)
            path = projectConfig.directories.images
            type = "image"
            ext = "png"

          if path
            contentsBase64 = extractBase64Data(event.target.result)
            window.save event,
              contents_base64: contentsBase64
              path: "/" + path + "/" + file.name

            contents = Base64.decode(contentsBase64) unless type == "image"

            newFileNode
              name: file.name.replace(/\.[^\.]*$/, '')
              type: type
              ext: ext
              lang: lang
              path: path
              contents: contents
