#file_templates
  %script.script.template(type="text/x-jQuery-tmpl")
    :preserve
      ${className} = (I={}) ->
        # Set some default properties
        Object.reverseMerge I,
          color: "blue"
          height: 32
          sprite: "placeholder"
          width: 32

        # Inherit from game object
        self = GameObject(I)

        # Add events and methods here
        self.bind "update", ->
          ; # Add update method behavior

        # We must always return self as the last line
        return self

  %script.test.template(type="text/x-jQuery-tmpl")
    :preserve
      module "${className}"

      test "testing for equality", ->
        one = 1

        # Test for equality of two objects
        equals one, 1

      test "testing boolean values", ->
        someFunction = ->
          return true

        # Test if someFunction returns true
        ok someFunction()

      # Clear out the module
      module()
