- origin = Rails.env.development? ? 'http://127.0.0.1:3000' : 'http://games.pixieengine.com'

#game_key_template.template
  %dl.keyboard_mappings
    .left_col
      %dt {{html keys}}
    %dd ${action}

#game_keys_modal.modal
  %h2 Controls
  .game_controls

%style
  :sass
    #game_keys_modal
      max-height: 500px
      overflow-y: auto
      overflow-x: hidden

- content_for :javascript do
  :coffeescript
    $ ->
      window.addEventListener 'message', (event) ->
        return unless event.origin is #{origin.to_json}
        controls = $("#game_keys_modal .game_controls").empty()

        {type, data} = event.data

        switch type
          when 'controls'
            for action, keys of data
              $("#game_key_template")
              .tmpl(action: action, keys: [].concat(keys).join(" <em>or</em>"))
              .appendTo(controls)

      , false

    window.showGameKeys = ->
      controls = $("#game_keys_modal .game_controls")

      controls.text "This game hasn't defined any controls" if controls.text() is ''

      $('#game_keys_modal').modal
        onOpen: (dialog) ->
          dialog.overlay.fadeIn 150, ->
            dialog.data.show()
            dialog.container.show()
