%style
  :sass
    .content .feature .info
      h1
        margin: 0

      p
        font-size: 1.2em
        margin: 0.75em 0

.content
  .feature
    .info
      %h1
        Create Games!

      %p
        Pixie games are developed entirely in the browser. As a result, you have access to the full development environment anywhere with an internet connection, there is never anything to install or upgrade, and you're always up to date.

      %p
        Share finished games instantly by embedding them on web pages or exporting them to marketplaces like the Google Chrome Webstore.

      %p
        Play 'Pixteroids' now to get a taste of what you can accomplish easily with Pixie. When you're done, sign up for our 30 day, no obligation trial of Pixie Premium.

      = link_to "Try Now for Free", register_subscribe_path, :class => "button btn complement full", :id => "try_now"

    .video
      <iframe width="640" height="480" src="#{widget_project_url(Project::ASTEROIDS_DEMO_ID)}" ></iframe>
