- config = project.config
-if Rails.env.development?
  %iframe#app.no_border{ :width => config[:width], :height => config[:height], :src => widget_user_project_url(project.user, project, :host => "127.0.0.1", :port => '3000')}
-else
  %iframe#app.no_border{ :width => config[:width], :height => config[:height], :src => widget_user_project_url(project.user, project, :host => "games.pixieengine.com")}

- content_for :javascript do
  :javascript
    // Set focus
    $("#app")[0].contentWindow.focus();
