.project.clickable
  %h2.title= link_to project.display_name, ide_project_path(project)
  .thumb= link_to image_tag(project.image.url(:thumb), :alt => project.display_name, :title => project.display_name), fullscreen_project_path(project)
  %p.description= project.description
