- url = "http://projects.pixieengine.com/#{params[:id].to_i}/"

%iframe#app.no_border(width=480 height=320 src=url)

- content_for :javascript do
  :coffeescript
    iframe = $("#app")[0]
    # Set focus
    iframe.contentWindow.focus()
    # Resize
    $.getJSON #{"#{url}pixie.json?pixieengine.com".to_json}, ({name, width, height}) ->
      iframe.width = width
      iframe.heiht = height
      document.title = name
