#tips{:style => "display: none;"}
  - if project.id == Project::ASTEROIDS_DEMO_ID
    .tip
      .text
        Welcome to our Asteroids tutorial! Click the 'next' arrow to the right to get familiar with the tools.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_wrappable_coffee').prev().click()" }
      .text
        Here is the
        %b wrappable
        module. Modules make it easy to define behaviors concisely.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_base_coffee').prev().click()" }
      .text
        Define a base class if you notice repeated behavior across many classes.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_sounds_pew_sfs').prev().click()" }
      .text
        We use sfxr to make our sounds effects. Tweak the inputs to change the way the shot sounds.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_animations_ship_animation').prev().click()" }
      .text
        Select the
        %b explode
        action. Click on the last frame and you will see that it has the tag 'explode' to fire that event when the frame is reached.
    .tip{ 'data-element_selector' => ".filetree > li[title='images']", 'data-code' => "$('.filetree > li[title=\"images\"]').effect('highlight', {}, 5000);" }
      .text
        The sprite assets in your game are stored here in images. Click
        %b New -> Image
        to make your own or
        %b Import
        to drag one from your computer.
  - elsif project.id == Project::DEMO_ID
    .tip
      .text
        Welcome to
        = link_to "condor's", User.find(4)
        three part platforming demo. Part one is going to cover keyboard input.
    .tip{ 'data-element_selector' => "#run" }
      .text
        Click on the "Run" button. You'll see a red square moving slowly to the right.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_main_coffee iframe').contents().find('span.comment').filter(function() { return $(this).text() == '# color' }).effect('highlight', {}, Infinity);" }
      .text
        That was fun but black is a really boring background color. Replace the highlighted line with
        %pre
          :preserve
            backgroundColor: Color.random()
        to spice things up and then run the game again.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee').prev().click();" }
      .text
        Here's where we define how that red square behaves.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee iframe').contents().find('span.comment').filter(function() { return $(this).text() == '# key handling' }).effect('highlight', {}, Infinity);" }
      .text
        Okay, we're going to make you the boss now. Replace the highlighted line with
      %pre
        :preserve
          if keydown.left
            I.velocity = Point(-2, 0)
      Now you can press left to change the square's direction.
    .tip{ 'data-element_selector' => ".ui-tabs-selected" }
      .text
        Try to make him move to the right and stop too.
    .tip
      .text
        When you are done here check out lesson two:
        =link_to "Jumping", ide_project_path(Project.find(Project::JUMP_DEMO_ID))
  - elsif project.id == Project::JUMP_DEMO_ID
    .tip
      .text
        Hello fellow jumping enthusiasts. Today we're going to give our little guy hops like Jordan.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee').prev().click()" }
      .text
        At the top of
        %b src/square
        we now have some constants:
        %pre
          :preserve
            SPEED = 7
            GRAVITY = 3
            JUMP_POWER = 17
            FLOAT_FACTOR = 0.4
        Take a minute to play around with those values. See if you can find the 'Space Jam' setting.
    .tip{ 'data-element_selector' => ".ui-tabs-selected" }
      .text
        This looks a bit complicated but bear with me. Getting the Mario-striving-for-the-top-of-his-jump effect is a bit trickier than you might think. Look at the contents of
        %b self.bind.
    .tip{ 'data-element_selector' => ".ui-tabs-selected" }
      .text
        We're reducing the effect of gravity when jumping,
        %pre
          :preserve
            if jumping
              I.velocity = I.velocity.add(I.acceleration.scale(FLOAT_FACTOR))
        applying it normally when falling,
        %pre
          :preserve
            else if falling
              I.velocity = I.velocity.add(Point(I.velocity.x, I.acceleration.y))
        and if you are neither jumping nor falling and pressing the jump key, we're telling the game that you are now jumping.
        %pre
          :preserve
            else
              if keydown.z
                jumping = true
                I.velocity = Point(I.velocity.x, -JUMP_POWER)
    .tip{ 'data-element_selector' => ".ui-tabs-selected" }
      .text
        Each step we also set jumping to false if the jump key isn't held.
        %pre
          :preserve
            jumping = false unless keydown.z
    .tip{ 'data-element_selector' => ".ui-tabs-selected" }
      .text
        Finally, we do a simple check to make sure the player lands on the ground and we tell the game he isn't falling anymore.
        %pre
          :preserve
            if I.y > FLOOR_HEIGHT - 25
              I.y = FLOOR_HEIGHT - 25
              falling = false
            else
              falling = true
    .tip
      .text
        In the eagerly anticipated lesson three:
        =link_to "Pew", ide_project_path(Project.find(Project::SHOOT_DEMO_ID))
  - elsif project.id == Project::SHOOT_DEMO_ID
    .tip
      .text
        At the NRA's request I've written this demo to show off how to make our square shoot.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_bullet_coffee').prev().click()" }
      .text
        Here is our bullet behavior. The most important thing is that in
        %b self.bind
        we check to make sure the bullet doesn't go through the floor.
        %pre
          :preserve
            if I.y > FLOOR_HEIGHT + 5
              self.destroy()
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee').prev().click()" }
      .text
        Take a look at the changes we made to this square.
    .tip{'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee iframe').contents().find('span.comment').filter(function() { return $(this).text() == '# facing' }).effect('highlight', {}, Infinity);" }
      .text
        Look below the highlighted line.
        We have added a facing variable to keep track of where our hero is looking. We will use it to determine the direction to fire bullets.
        %pre
          :preserve
            facing = Point(1, 0)
    .tip{'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_square_coffee iframe').contents().find('span').filter(function() { return $(this).text() == 'if justPressed.x' }).effect('highlight', {}, Infinity);" }
      .text
        Pressing the shoot key tells the engine that it should add an instance of our bullet class
        %pre
          :preserve
            if justPressed.x
              engine.add
                class: 'Bullet'
                x: I.x + I.width
                y: I.y
                width: 5
                height: 5
                velocity: facing.scale(BULLET_SPEED)
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_enemy_coffee').prev().click()" }
      .text
        Shooting bullets wouldn't be any fun without something to shoot at. We have created a very basic target and named it Enemy.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_main_coffee').prev().click()" }
      .text
        Now in main we need to make sure that we detect when bullets hit enemies and respond accordingly.
    .tip{ 'data-element_selector' => ".ui-tabs-selected", 'data-code' => "$('#file_src_main_coffee iframe').contents().find('span').filter(function() { return $(this).text() == 'for enemy in enemies' }).effect('highlight', {}, Infinity);" }
      .text
        We iterate through all the enemies and bullets, and check whether their bounds overlap. If they do then we destroy both the bullet and the enemy.
        %pre
          :preserve
            for enemy in enemies
              for bullet in bullets
                if Collision.rectangular(enemy.bounds(), bullet.bounds())
                  enemy.destroy()
                  bullet.destroy()
    .tip
      .text
        That's the end of this epic trilogy. Look back at all we accomplished. At the start all we had was a randomly generated background color and now we have given birth to this square who can jump and annihilate his foes. Take a moment to be the proud papa.
  - else
    .tip{ 'data-element_selector' => "nav.left"}
      .text
        This is the code editor where you can edit your applications in the CoffeeScript language.
    .tip{ 'data-element_selector' => "ul.filetree", 'data-code' => "$('.filetree').effect('highlight', {}, 5000)" }
      .text
        The files needed to create your game are here.
    .tip{ 'data-element_selector' => "#run" }
      .text
        Click "Run" button to play through your game!
    .tip{ 'data-element_selector' => "#test_frame", 'data-code' => '$("#run").click();' }
      .text
        See the results, then make changes to your code as you wish.
    .tip{ 'data-element_selector' => ".file.documentation", 'data-code' => "$('#documentation').prev().click()"}
      .text
        Here you can read up on the provided classes.
    .tip{ 'data-element_selector' => "#export"}
      .text
        Pixie is an open platform. Click "Export" to download the last saved version of your project.
    .tip{ 'data-element_selector' => "#import" }
      .text
        Click "Import" to add your own images, javascript, and coffeescript files.
    .tip{ 'data-element_selector' => "#import_drop_zone", 'data-code' => '$("#import").mousedown();' }
      .text
        Drag files from your desktop to the file importer to make them available in your game.
    .tip{ 'data-element_selector' => "#test"}
      .text
        Click the "Test" button to run unit-tests. These can come in handy if you're
        working with heavily algorithmic stuff or library code.
    .tip{ 'data-element_selector' => "#save"}
      .text
        Click "Save" to save changes to a file.
    .tip{ 'data-element_selector' => ".actions .status"}
      .text
        All your changes are backed by version control. Your current status is
        saved as a commit message.
    .tip
      .text
        That's it for the tips. The IDE is a work in progress, so ask or leave
        = link_to "feedback", "/survey", :target => "_blank"
        if you have any questions!
  .next
    .next_tip.next(title="next" alt="next")
    .next_arrow
  .close
    .close_tip.x(title="close" alt="close")

- content_for :javascript do
  :coffeescript
    $ ->
      $("#tooltip .next_tip, #tooltip .next_arrow, #help").live "click", ->
        nextTip()

      $("#tooltip .close_tip").live "click", ->
        hideTooltip()

      tipIndex = -1
      nextTip = () ->
        tipIndex += 1
        tips = $("#tips .tip")
        moreTips = tipIndex < tips.length - 1

        tip = tips.eq(tipIndex)

        code = $(tip).attr("data-code")
        eval(code) if code

        targetElement = $(tip.attr("data-element_selector"))

        hideTooltip()

        if tip.length
          tipMessage = tip.html()

          tipMessage += $("#tips .close").html()
          tipMessage += $("#tips .x").html()

          if moreTips
            tipMessage += $("#tips .next").html()
            tipMessage += $("#tips .next_arrow").html()

          showTooltip(targetElement, tipMessage)
        else
          tipIndex = -1

          if tips.length
            nextTip()

      nextTip()

      $('.help_tooltips').mousedown nextTip
