- @title = "Arcade"

%section
  .gallery
    - @projects.each do |project|
      .project.clickable
        %h2.title= link_to project.display_name, fullscreen_project_path(project)
        - if project.image?
          .gloss
          .thumb= link_to image_tag(project.image.url(:thumb), :alt => project.display_name, :title => project.display_name), fullscreen_project_path(project)
        %p.description= project.description

%style
  :sass
    @import partials/base
    @import util

    .project
      +bounds(240px, 160px)
      +inline-block
      +glass

      margin: 0 1em 1em 0
      overflow: hidden
      padding: 1em
      position: relative

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        img
          +border-radius(17px)
          +box-shadow(rgba(255, 255, 255, 0.5), 0, 4px, 6px)

          .light &
            +box-shadow(rgba(0, 0, 0, 0.5), 0, 4px, 6px)

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .title
        a
          white-space: nowrap
