- @title = "Arcade"

%section
  .gallery
    = render :partial => "projects/project", :collection => @projects

%style
  :sass
    @import partials/base
    @import util

    .gallery
      +glass

      background-color: $dark_highlight
      margin: auto
      padding: 2em
      width: 1000px

      .light &
        background-color = $light_highlight

    .project
      +border-radius
      +bounds(295px, 160px)
      +box-shadow(#000F1A, 2px, 2px, 4px, 0, inset)
      +inline-block

      background-color: $cookie_cutter_dark
      margin-bottom: 1em
      margin-left: 0.5em
      margin-right: 0.5em
      overflow: hidden
      padding: 1em
      position: relative

      .light &
        +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

        background-color: $cookie_cutter_light

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        img
          +border-radius(17px)
          +box-shadow(#000F1A, 0, 4px, 6px)

          .light &
            +box-shadow(#8c8c8c, 0, 4px, 6px)

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .title
        a
          color: $dark_text
          text-decoration: none
          white-space: nowrap

          .light &
            color: $light_text
