- @title = project.title
- @meta_desc = project.description

= render :partial => "project_iframe"

%ul.actions_bar
  %li.stats>
    = pluralize project.views_count, "view"
  %li#show_comments.action>= icon_link "Comments", "comment", '#'
  %li.action>= icon_link "View Source", "script", url_for(:action => :ide), :target => "_blank"
  %li#show_controls.action>= icon_link "Controls", "keyboard", '#'

= display_comments project

= render :partial => "game_keys"

- content_for :javascript do
  :coffeescript
    $("#show_comments").click (event) ->
      event.preventDefault()

      if $(this).toggleClass("active").is(".active")
        $(".comments_area").show()
      else
        $(".comments_area").hide()

    $("#show_controls").click (event) ->
      event.preventDefault()

      showGameKeys()

    # THEME
    setLightTheme = (active) ->
      $('html').toggleClass('dark', !active)
      $('.bulb-sprite').toggleClass('static-off', !active).toggleClass('static-on', active)

    $('.bulb-sprite').click ->
      $this = $(this)
      $this.toggleClass('static-off').toggleClass('static-on')

      setLightTheme $this.hasClass('static-on')

    active = if $('.bulb-sprite').length then getVal('light') else true
    if active?
      setLightTheme active
    else if $('html').hasClass 'light'
      $('.bulb-sprite').attr('class', 'static-on')
    else
      $('.bulb-sprite').attr('class', 'static-off')

%style
  :sass
    @import util

    $action_bar_height: 28px

    html.dark
      background-color: #00010D
      background-image: none

      body > .content
        background-color: #00010D

    html.light body > .content
      background-color: transparent
      border: none

    body
      overflow: hidden

    footer
      .content
        display: none

    .bulb
      z-index: 25

    // Hide dealies when lights are out
    #feedback, footer, ul.actions_bar, header
      display: block

      .dark &
        display: none

    ul.actions_bar
      +linear-gradient(color-stops(#7F7F7F, #666))
      +bounds(100%, $action_bar_height)
      +box-sizing(border-box)

      bottom: 0
      left: 0
      padding-left: 3em
      position: fixed

      li
        +bounds(auto, $action_bar_height)
        +border-right-radius(2px)
        +box-sizing(border-box)
        +inline-block

        padding: 4px 8px
        margin-right: 1px

        &:first-child
          +border-radius(2px)

        &.action
          +linear-gradient(color-stops($light_gray, lighten($light_gray, 5%), darken($light_gray, 15%)))

          &:hover
            +linear-gradient(color-stops($hover, lighten($hover, 5%), darken($hover, 15%)))

          &:active, &.active
            +linear-gradient(color-stops(darken($hover, 35%), darken($hover, 15%)))

        a
          color: $light_text
          text-decoration: none

        &.stats
          +border-radius
          +box-shadow(darken($dark_gray, 20%), 1px, 1px, 2px, 0, inset)
          +linear-gradient(color-stops($dark_gray, darken($dark_gray, 15%)))

          color: $dark_text
          cursor: default
          height: $action_bar_height - 4px
          margin: 2px 8px 2px 0
          padding: 4px 12px

      img
        vertical-align: middle

    .comments_area
      +border-radius

      bottom: $action_bar_height + 8px
      display: none
      left: 3em
      max-height: 600px
      padding: 1.5em 2em
      overflow: auto
      position: fixed
      min-width: 400px

      textarea
        height: 75px

    #app
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
