- @title = project.title
- @meta_desc = project.description

= render :partial => "project_iframe"

.bulb-sprite.bulb

%ul.actions_bar
  %li.stats>
    = pluralize project.views_count, "view"
  %li#show_comments.action>= icon_link "Comments", "comment", '#'
  %li.action>= icon_link "View Source", "script", ide_project_path(project), :target => "_blank"
  %li#show_controls.action>= icon_link "Controls", "keyboard", '#'

= display_comments project

= render :partial => "game_keys"

- content_for :javascript do
  :coffeescript
    $('html').addClass('fullscreen_game')
    $("#show_comments").click (event) ->
      event.preventDefault()

      if $(this).toggleClass("active").is(".active")
        $(".comments_area").show()
      else
        $(".comments_area").hide()

    $("#show_controls").click (event) ->
      event.preventDefault()

      showGameKeys()

    # THEME
    setLightTheme = (active) ->
      $('html').toggleClass('dark', !active)
      $('.bulb-sprite').toggleClass('static-off', !active).toggleClass('static-on', active)

    $('.bulb-sprite').click ->
      $this = $(this)
      $this.toggleClass('static-off').toggleClass('static-on')

      setLightTheme $this.hasClass('static-on')

    active = if $('.bulb-sprite').length then getVal('light') else true
    if active?
      setLightTheme active
    else if $('html').hasClass 'light'
      $('.bulb-sprite').attr('class', 'static-on')
    else
      $('.bulb-sprite').attr('class', 'static-off')

