%style
  :sass
    ul.steps
      font-size: 14px

      li
        margin: 1em 0

=stylesheet_link_tag 'branded'

%h2 How to Integrate With an Existing Github Project

%ul.steps
  %li
    Go to your github repository admin panel. In the 'Collaborators' panel add
    PixieCode to the collaborators.
  %li.tuts-sprite.tuts-pixie_user

  %li
    On your github repository in the 'Service Hooks' panel add
    = hook_projects_path(:only_path => false)
    to your 'Post-Receive URLs'
  %li.tuts-sprite.tuts-web_hooks

  %li
    = link_to "Create a project on Pixie", new_project_path

    Choose whatever you want for the title and description.
    Add your repository's SSH url as the remote origin.

    It should look something like: git@github.com:my_username/my_repo.git

  %li.tuts-sprite.tuts-new_project

  %li
    Done! When you make changes to your code in Pixie it will be pushed to the
    'pixie' branch of your repo. You may then merge it in to master at your own
    convenience.
