#content
  #error
  %nav.left
    .actions
      %button#save Save
      %button#run Run
      %button#publish Publish

    %ul.filetree
      - @project.file_info[:files].each do |file|
        = render :partial => "file_tree_node", :locals => {:file_info => file}

  %section
    #tabs
      %ul

:coffeescript
  # Commands
  save = () ->
    notify "Saving..."

    activeTab = $("#tabs ul li.ui-state-active")

    form = $(currentPanel).find('form')

    form.ajaxSubmit
      type: 'POST'
      dataType: "json"
      success: () ->
        notify "Saved!"

        if updateSaved = activeTab.find('a').data('updateSaved')
          updateSaved()

        activeTab.removeClass("unsaved")

  $('#save').live 'click', save

  # key combos like ctrl+s
  ctrlKeys =
    s: save

  bindKeys = (scopeDocument, ctrlKeys) ->
    $.each ctrlKeys, (key, fn) ->
      $(scopeDocument).bind('keydown', "ctrl+\#{key} meta+\#{key}", (event) ->
        event.preventDefault()
        fn()
      )

  bindKeys(document, ctrlKeys)

  window.createEditor = (ui) ->
    panel = $(ui.panel)
    tab = $(ui.tab)
    lang = panel.attr('data-lang')
    src_id = "#" + panel.find('textarea').attr('id')

    if lang = "js"
      lang = "javascript"

    savedCode = $(src_id).val()

    codeTextArea = $(src_id).get(0)
    editor = new CodeMirror.fromTextArea codeTextArea,
      autoMatchParens: true
      content: codeTextArea.value
      height: "100%"
      lineNumbers: true
      parserfile: ["tokenize_" + lang + ".js", "parse_" + lang + ".js"]
      path: "/javascripts/codemirror/"
      stylesheet: ["/stylesheets/codemirror/main.css"]
      tabMode: "shift"
      textWrapping: false

    $(editor.win.document).find('html').toggleClass('light', $("#bulb").hasClass('on'))

    bindKeys(editor.win.document, ctrlKeys)

    # Listen for keypresses and update contents.
    $(editor.win.document).keyup ->
      currentCode = editor.getCode()

      if currentCode != savedCode
        tab.parent().addClass("unsaved")
      else
        tab.parent().removeClass("unsaved")

      $(src_id).val(currentCode)

    lang: lang
    updateSaved: () ->
      savedCode = editor.getCode()

  $ ->
    $('ul.filetree').treeview()

    $tabs = $('#tabs').tabs
      add: (event, ui) ->
        $tabs.tabs('select', '#' + ui.panel.id)

        if fileData = createEditor(ui)
          $(ui.tab).data('updateSaved', fileData.updateSaved)
          $(ui.tab).parent().find('span.lang').addClass(fileData.lang)

        window.currentPanel = ui.panel

      remove: (event, ui) ->
        $(ui.panel).find(".CodeMirror-wrapping").remove()
        $('.filetree').append(ui.panel)

      select: (event, ui) ->
        window.currentPanel = ui.panel

      tabTemplate: '<li><span class="ui-icon ui-icon-close"></span><span class="ui-icon lang"></span><a href="#' + '{href}">#' + '{label}</a></li>'

    $('.filetree .file').live 'click', ->
      $tabs.tabs 'add', $(this).data('id'), $(this).text(), 0
