%style
  :sass
    #fullscreen
      height: auto

    .gallery
      padding-bottom: 1em

    .pagination
      margin: 0
      width: 100%

    a.button
      margin-right: 0

    .filters
      float: right
      padding: 0.7em 0.5em 0.7em 0

      .filter
        margin: 0
        margin-right: -1px

        &.active
          color: #333

- @title = "Project Gallery"

- content_for :javascript do
  = javascript_include_tag "views/projects/filtered_gallery"

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}
      projects_gallery = new Pixie.Views.Projects.FilteredGallery
      projects_gallery.collection.reset(projects_gallery.collection.parse(#{@projects_data.to_json}))

.gallery
