= stylesheet_link_tag "branded"

%style
  :sass
    @import util

    #fullscreen
      height: auto

    .gallery
      padding-bottom: 1em

    a.button
      margin-right: 0

    .filters
      float: right
      padding: 0.7em 0.5em 0.7em 0

      .filter
        margin: 0

    div.search
      width: 400px
      display: inline-block
      padding: 0.7em 0.5em 0.7em 0

      button
        margin: 0
        margin-right: 0.5em

      .search_field
        display: inline-block
        margin-right: 0.5em
        width: 40%

    .spinner_container
      +border-radius

      display: none
      background-color: #EFEFEF
      width: 100px
      height: 35px
      position: fixed
      top: 100px
      left: 0
      right: 0
      margin: auto
      text-align: center
      padding-top: 18px
      z-index: 10
      border: 1px solid rgba(0, 0, 0, 0.2)

      .spinner
        vertical-align: middle
        margin-right: 1em
        padding-bottom: 5px

- @title = "Project Gallery"

- content_for :javascript do
  = javascript_include_tag "views/projects/filtered_gallery"

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}
      projects_gallery = new Pixie.Views.Projects.FilteredGallery
      projects_gallery.collection.reset(projects_gallery.collection.parse(#{@projects_data.to_json}))

.gallery
