- @title = "Project Gallery"

.filters
  =button_link "Create Project", "application_add", new_project_path
  =link_to "My Projects", { :filter => :own }, { :class => "button" }
  =link_to "All", { :filter => :none }, { :class => "button" }

%section
  = will_paginate projects
  .gallery
    = render :partial => projects
  = will_paginate projects

%style
  :sass
    @import partials/base
    @import util

    .project
      +bounds(240px, 160px)
      +inline-block
      +glass

      margin: 0 1em 1em 0
      overflow: hidden
      padding: 1em

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

      .title
        a
          white-space: nowrap
