- @title = "Info"

%p
  Pixie enables rapid game development by decreasing the amount of time from a thought entering your brain to the time you see it on screen. Avoid waiting for your game to recompile. With live coding and hot swapping the second you think of a new feature, it is in your game.

%p
  Pixie tightly integrates a wide range of design tools such as Animations, Tilemaps, and Pixel art with your game code.

%ul
  Features
  %li
    Live coding
  %li
    Live art editing
  %li
    Fully integrated Tilemap, Animation, Pixel Editors

%h2
  Getting started
%ol
  %li
    Since Pixie is web based you already have all the required software installed.
  %li
    Follow our
    = link_to "tutorial", "github_integration"
    to set up your first project

