%style
  :sass
    strong
      font-weight: bold

    body > .content
      padding-top: 2em

    header
      height: 90px
      position: relative

      nav.top_bar
        display: none

      .blurb
        color: #B0D6EE
        display: inline-block
        margin-left: 7em
        margin-top: -25px
        vertical-align: middle

      .content
        height: 100%
        padding: 0.5em 0

      .static-landing_logo
        margin-top: 15px

      .logo
        display: inline-block
        float: left
        margin: 0
        margin-top: 15px
        position: static

      .login_link a[title="Log in"]
        margin-top: 34px

    .content
      margin: auto
      width: 960px

      p
        font-size: 1.2em

      q, .source
        font-style: italic
        letter-spacing: 0.1em

      .testimonial
        margin-bottom: 2em
        padding: 1em 2em

      .details
        margin-bottom: 2em
        overflow: auto
        width: 100%

        .detail
          display: inline-block
          margin-right: 15px

          vertical-align: top
          width: 225px

          &.last
            margin-right: 0

      .featured_projects
        margin: 2em 0
        padding: 1em 2em

    #try_now
      width: 95%

- content_for :javascript do
  :coffeescript
    $ ->
      $('a.logo').attr('class', 'static-landing_logo')

      setTimeout ->
        $('iframe')[0].contentWindow.focus()
      , 100

  /[if IE]
    :coffeescript
      $(".feature a").attr("href", #{register_subscribe_path.to_json})

- if params[:new_game]
  = render :partial => 'new_game_landing_page'
- else
  = render :partial => 'control_landing_page'
