= stylesheet_link_tag "wmd/wmd.css"
= javascript_include_tag "wmd.combined.min"

:coffeescript
  setup_wmd
    input: "post_text"
    button_bar: "post_button_bar"
    preview: "post_preview"
    output: "post_copy_html"
    helpLink: "http://daringfireball.net/projects/markdown/syntax"
