.centered_form
  %h1 Pixie Premium

  %h3
    A Premium Account grants you the following benefits:

  %ul
    %li 15 Active Projects
    %li 1500MB of Storage
    %li Only $15 per month
    %li Free for 30 days!

  %center
    %a.button{ :href => current_user.subscribe_url }
      Subscribe Now
