%form.module(method="get" action=new_project_path style="width: ")
  %h2 Thanks for Subscribing!

  %p What are you waiting for? Start making awesome games.

  %button.btn.full Create a new Project

= render :partial => "shared/subscription_conversion"
