header
  .blurb
    display: none

  .bulb
    +bounds(32px)

    background-image: url(/images/lightbulb_off.png)
    position: absolute
    top: 5px
    right: 5px

    &.on
      background-image: url(/images/lightbulb.png)

  .login_link
    position: absolute
    top: 13px
    right: 40px

  .logo
    +bounds(68px, 34px)

    background-image: url(/images/pixie.png)
    margin-left: 4px
    margin-top: 4px
    position: absolute
    top: 0
    left: 0
