header
  .blurb
    display: none

  .bulb
    +bounds(32px)

    background-image: url(/images/lightbulb_off.png)
    position: absolute
    top: 5px
    right: 5px

    &.on
      background-image: url(/images/lightbulb.png)

  .login_link
    position: absolute
    top: 13px
    right: 40px

  .logo
    +bounds(68px, 34px)

    background-image: url(/images/pixie.png)
    margin-left: 4px
    margin-top: 4px
    position: absolute
    top: 0
    left: 0

  nav.top_bar
    margin: auto
    padding-top: 1em
    width: 600px

    li
      display: inline-block
      font-size: 140%
      padding-left: 2em
      padding-right: 2em
      text-align: center

      a
        +text-shadow(rgba(100, 100, 100, 0.4), 1px, 1px, 0)

        color: #eee
        font-weight: 500
        text-decoration: none
