%h2= library.title
%p= library.description

- library.component_libraries.each do |component_library|
  = link_to component_library.title, [:developer, component_library]

%h3 Scripts
- library.scripts.each do |script|
  = link_to script.title, [:developer, script]
