:coffeescript
  window.createPixelEditor = (options) ->
    width = options.width
    height = options.height
    url = options.url
    tileEditor = options.tileEditor

    pixelEditor = $('<div />').pixie
      width: width
      height: height
      frames: 1
      initializer: (canvas) ->
        if url
          canvas.fromDataURL(url)

        canvas.addAction
          name: "Save Tile"
          icon: "/images/icons/database_save.png"
          perform: (canvas) ->
            pixelEditor.trigger 'save', canvas.toDataURL()
            pixelEditor.remove()
            tileEditor.show()
          undoable: false

        canvas.addAction
          name: "Back to Tilemap"
          icon: "/images/icons/arrow_left.png"
          perform: (canvas) ->
            pixelEditor.remove()
            tileEditor.show()
          undoable: false

    tileEditor.hide().after(pixelEditor)

    window.currentComponent = pixelEditor

    return pixelEditor
