= render :partial => "tile_editor"

:coffeescript
  $ ->
    editor = $("<div />").appendTo('body').tileEditor
      data: JSON.parse(#{@tilemap.string_data})
      save: (mapData) ->
        notify("Saving...")

        postData =
          format: 'json'
          tilemap:
            title: mapData.title
            width: mapData.width
            height: mapData.height
            data_string: JSON.stringify(editor.mapData())
            parent_id: #{@parent_id.to_json}

        callback = (data) ->
          id = data.tilemap.id
          notify("Saved as <a href='/tilemaps/"+id+"'>Tilemap "+id+"</a>!")

        $.post('/tilemaps', postData, callback, "json")
