- @title = "Tilemap Gallery"

.filters
  = button_link "Create Tilemap", "world_add", new_tilemap_path(:tileset_id => "355")
  =link_to "My Tilemaps", { :filter => :own }, { :class => "button" }
  =link_to "All", { :filter => :none }, { :class => "button" }

%section.gallery
  = render :partial => @tilemaps

%style
  :sass
    @import partials/base
    @import util

    .tilemap
      +bounds(240px, 160px)
      +glass
      +inline-block

      margin: 1em
      overflow-y: auto
      padding: 1em

      .title
        a
          white-space: nowrap

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

    .light
      .animation
        background-color: $light_highlight
