- content_for :javascript do
  = javascript_include_tag 'pixie/editor/tile/new_tile'

#testie

%style
  :sass
    @import util

    .layer.active
      font-weight: bold

    eye
      +bounds(16px)
      +inline-block

      background-image: url(/assets/tools/show.png)
      cursor: pointer
