- @fullscreen = true

= stylesheet_link_tag "editors/tile2"

- content_for :javascript do
  = javascript_include_tag 'pixie/editor/tile/new_tile'

%section#testie

%style
  :sass
    html
      background-image: url(/assets/editor_textured_background.png)
