
= render partial: "shared/navigation", locals: {collection: @tunes}

%tunes
  - if @tunes.size > 0
    = render @tunes
  - else
    %h2 No results
    %a(href="#{tunes_path}") Back to Tunes

= render partial: "shared/navigation", locals: {collection: @tunes}
