- @title = "Sound Gallery"

= display_gallery sounds, gallery_filters

#preview_sound
  %audio

:coffeescript
  $('.sound_preview').mousedown ->
    src = $(this).data('wav_src') || $(this).data('mp3_src')

    $('#preview_sound audio').attr('src', src).get(0).play()
