.editor.entity_editor
  .content
    .module.left
      %h2 Properties
      %table

    %section
      %h2 Events
      .events
        - %w[create destroy step].each do |event|
          %h3
            %a(href="#")= event.titleize
          .event
            %textarea(name=event)
