.app.clickable
  %h2.title= link_to app.title, fullscreen_developer_app_path(app)
  .thumb= link_to image_tag(app.image.url(:thumb), :alt => app.display_name, :title => app.display_name), fullscreen_developer_app_path(app)
  %p.description= app.description
