.import_sprite{ 'data-id' => import_sprite.id, 'data-title' => import_sprite.title }
  = image_tag(import_sprite.image.url(:thumb), :alt => import_sprite.display_name, :title => import_sprite.display_name)
