.import_sound{ 'data-id' => import_sound.id, 'data-title' => import_sound.title || "Sound #{import_sound.id}", 'data-wav_src' => import_sound.wav.url, 'data-mp3_src' => import_sound.mp3.url }
  %span= import_sound.title || "Sound #{import_sound.id}"
  .control