- @title = "Fork #{app.title}"

%p
  This will create your own copy of the app which you can edit as you please.

- form_tag fork_post_developer_app_path do
  %button= "#{image_tag "icons/arrow_divide.png"} Fork".html_safe
