.filters
  %button= link_to "Featured", :filter => :featured
  %button= link_to "All", :filter => :none

%section
  = render :partial => apps

%style
  :sass
    @import partials/base
    @import util

    .filters
      position: absolute
      top: 0
      left: 120px

    .app
      +bounds(240px, 160px)
      +border-radius
      +box-shadow
      +inline-block

      background-color: $dark_highlight
      margin: 1em
      overflow: hidden
      padding: 1em

      .title
        a
          white-space: nowrap

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

    .light
      .app
        background-color: $light_highlight
