= button_link "New App", "application_go", new_developer_app_path

= render :partial => apps

%style
  :sass
    .container
      #hide_dock
        background: url(/images/hide_dock_light.png) no-repeat

        &.show_dock
          background: url(/images/show_dock_light.png) no-repeat

    #dockContainer
      .cap
        background: url(/images/dock_background_left_light.png) bottom left no-repeat

      ul.osx-dock
        background: url(/images/dock_background_left_light.png) no-repeat right bottom
