/*
Syntax error: File to import not found or unreadable: partials/base.
              Load paths:
                Compass::SpriteImporter
                /Users/matt/pixie.strd6.com/public/stylesheets/sass
                /Users/matt/pixie.strd6.com/app/assets/stylesheets
                /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/bundler/gems/compass-91a748a91636/frameworks/blueprint/stylesheets
                /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/bundler/gems/compass-91a748a91636/frameworks/compass/stylesheets
                /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/html5-boilerplate-1.0.0/stylesheets
        on line 1 of /Users/matt/pixie.strd6.com/app/assets/stylesheets/wmd/wmd.sass

1: @import partials/base
2: @import util
3: 
4: .wmd-panel
5:   margin-left: 25%
6:   margin-right: 25%

Backtrace:
/Users/matt/pixie.strd6.com/app/assets/stylesheets/wmd/wmd.sass:1
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:42:in `import'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/bundler/gems/exception_notification-192a49a02d63/lib/exception_notifier.rb:19:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/etag.rb:23:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/conditionalget.rb:25:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:195:in `context'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:190:in `call'
/Users/matt/pixie.strd6.com/app/middleware/flash_session_cookie_middleware.rb:20:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/activerecord-3.1.0.rc6/lib/active_record/query_cache.rb:62:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/activerecord-3.1.0.rc6/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/activesupport-3.1.0.rc6/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/activesupport-3.1.0.rc6/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/sendfile.rb:101:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/railties-3.1.0.rc6/lib/rails/rack/logger.rb:13:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/methodoverride.rb:24:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/runtime.rb:17:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/activesupport-3.1.0.rc6/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/lock.rb:15:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/actionpack-3.1.0.rc6/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/railties-3.1.0.rc6/lib/rails/engine.rb:455:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/railties-3.1.0.rc6/lib/rails/rack/content_length.rb:16:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/railties-3.1.0.rc6/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/rack-1.3.2/lib/rack/handler/webrick.rb:59:in `service'
/Users/matt/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/matt/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/matt/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/base.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/matt/pixie.strd6.com/public/stylesheets/sass\A                 /Users/matt/pixie.strd6.com/app/assets/stylesheets\A                 /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/bundler/gems/compass-91a748a91636/frameworks/blueprint/stylesheets\A                 /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/bundler/gems/compass-91a748a91636/frameworks/compass/stylesheets\A                 /Users/matt/.rvm/gems/ruby-1.9.2-p180@rails3/gems/html5-boilerplate-1.0.0/stylesheets\A         on line 1 of /Users/matt/pixie.strd6.com/app/assets/stylesheets/wmd/wmd.sass\A \A 1: @import partials/base\A 2: @import util\A 3: \A 4: .wmd-panel\A 5:   margin-left: 25%\A 6:   margin-right: 25%"; }
