/* line 12, ../../../app/stylesheets/partials/_contents_centered.sass */
.contents_centered {
  position: relative;
}
/* line 4, ../../../app/stylesheets/partials/_contents_centered.sass */
.contents_centered > * {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 8, ../../../app/stylesheets/partials/_ellipsis.sass */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
}

/* line 4, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-panel {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  min-width: 500px;
}

/* line 10, ../../../app/stylesheets/wmd/wmd.sass */
#wmd-editor {
  background-color: Aquamarine;
}

/* line 13, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button-bar {
  width: 100%;
}

/* line 16, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-input {
  height: 500px;
  width: 100%;
  background-color: Gainsboro;
  border: 1px solid DarkGray;
}

/* line 22, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-preview {
  background-color: LightGray;
}

/* line 25, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-output {
  background-color: Pink;
}

/* line 28, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button-row {
  position: relative;
  margin: 0px;
  padding: 5px 0;
  height: 20px;
}

/* line 34, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}

/* line 46, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 2px;
  position: relative;
  vertical-align: baseline;
}
/* line 7, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.wmd-button {
  *display: inline;
}
/* line 55, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button > a {
  display: block;
  height: 100%;
}
/* line 59, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button:hover {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff6bf;
}
/* line 63, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 66, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-button:last-child {
  margin-right: 0;
}

/* sprite button slicing style information */
/* line 71, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-bold-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_bold.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 74, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-italic-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_italic.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 77, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-link-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/link.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 80, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-quote-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_quote.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 83, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-code-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/application_osx_terminal.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 86, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-image-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/image.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 89, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-olist-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_list_numbers.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 92, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-ulist-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_list_bullets.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 95, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-heading-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_heading_1.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 98, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-hr-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/text_horizontalrule.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 101, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-undo-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/arrow_undo.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 104, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-redo-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/arrow_redo.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 107, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-help-button {
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/help.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 0px;
}

/* line 114, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-prompt-background {
  background-color: black;
}

/* line 117, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #f5f5f5;
}
/* line 124, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}
/* line 128, ../../../app/stylesheets/wmd/wmd.sass */
.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
}
