.console
  font-size: 13px
  font-family: monospace
  padding: 2px
  width: 400px

  & >
    .actions

    textarea, .output
      font-size: 13px
      font-family: monospace

    .output
      height: 20px
      margin: 4px 0
      overflow: auto

    .CodeMirror-wrapping
      border: 1px solid #CCC
