creator
  display: block

  > a
    color: $accent-color
    display: block
    font-weight: bold
    padding: 1em 0
    vertical-align: middle

    > img
      vertical-align: middle
      width: 32px
      height: 32px
