.gallery
  margin: auto

  div.search
    width: 150px
    display: inline-block
    padding: 0.7em 0.5em 0.7em 0

    button
      margin: 0
      margin-right: 0.5em

    .search_field
      display: inline-block
      margin-right: 0.5em

  .spinner_container
    +border-radius

    display: none
    background-color: rgba(255, 255, 255, 0.85)
    width: 100px
    height: 20px
    position: fixed
    top: 100px
    left: 0
    right: 0
    margin: auto
    text-align: center
    padding-bottom: 7px
    padding-top: 10px
    z-index: 10
    border: 1px solid rgba(0, 0, 0, 0.2)

    .spinner
      vertical-align: middle
      margin-right: 1em
      padding-bottom: 5px

  nav
    +clearfix

    padding-bottom: 0.5em
    padding-top: 1em

    .filters
      +inline-block

      float: right
      a
        margin: 0
        padding-left: 5px
        padding-right: 7px

    .pagination
      +inline-block

      float: left

  .project
    margin: 6px 12px
    position: relative

    .description
      height: 15px

    .actions
      text-align: right

    .thumbnail
      background-color: #fafafa

      img
        +bounds(210px, 158px)

      .btn-primary
        margin-right: 7px
