*
  box-sizing: border-box

html, body
  height: 100%

body
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif
  font-size: 16px
  line-height: 1.5em
  margin: 0
  overflow: hidden

a
  color: $primary-color
  text-decoration: none

content
  display: block
  height: calc(100vh - 54px)
  overflow: auto

  #fullscreen > &
    overflow: hidden

header
  height: 54px

iframe
  border: none

  &#editor
    height: 100%
    width: 100%

ul
  list-style-type: none
  margin: 0
  padding: 0
