comments
  display: block
  max-width: 400px

comment, follow, created-sprite
  align-items: flex-start
  display: flex
  margin-bottom: 1.5rem

  > section
    > :first-child
      margin-top: 0

    > header
      > a.time
        color: $hint-text
        font-size: 0.8em

    > content
      display: block

      > :first-child
        margin-top: 0

      > :last-child
        margin-bottom: 0

  > header
    display: flex

    > *
      margin-right: 0.5rem

      &:last-child
        margin-right: 1rem

    > a
      display: inline-block
      flex: none
      height: 32px
      width: 32px

follow, created-sprite
  margin-bottom: 2em

created-sprite
  position: relative
