comments
  display: block
  max-width: 400px

comment, follow, created-sprite
  align-items: flex-start
  display: flex
  margin-bottom: 1em

  > section
    > :first-child
      margin-top: 0

    > header
      > a.time
        color: $hint-text
        font-size: 0.8em

  > header
    display: flex

    > *
      margin-right: 0.5em

    > a
      display: inline-block
      flex: none
      height: 32px
      width: 32px

follow, created-sprite
  margin-bottom: 2em

created-sprite
  position: relative
