input, textarea
  color: inherit
  padding: 3px 4px

textarea
  border-color: $hint-text
  border-radius: 4px
  box-shadow: $control-shadow
  width: 100%

form
  border-radius: 4px
  margin: 1em 0
  max-width: 400px

  > h2
    margin: 0 0 0.5em 0

  > label
    display: block
    margin-bottom: 1em

    > input[type="text"], > input[type="password"]
      width: 100%

    > textarea
      resize: none
      height: 180px

label.input-button
  display: flex
  margin-bottom: 0

  > input[type="text"]
    border-bottom-left-radius: 4px
    border-top-left-radius: 4px
    border: 1px solid $hint-text
    border-right: none
    box-shadow: $control-shadow
    width: auto
  > button
    border-bottom-left-radius: 0
    border-left: none
    border-top-left-radius: 0
    box-shadow: $control-shadow
    padding-top: 7px

h1 > form
  display: inline
  margin: 1em

form.comment
  display: flex
  flex-direction: column
  padding-left: calc(32px + 1rem)
  margin-bottom: 1.5rem

  > label
    display: flex
    margin-left: calc(-32px - 1rem)

    > textarea
      border-top-left-radius: 0px
      padding: 1rem
      &:focus
        outline: none

    > comment-speaker
      display: block
      flex: none
      height: 32px
      margin-right: 1rem
      position: relative
      width: 32px

      > img
        display: block

      > triangle
        display: block
        position: absolute
        left: 100%
        border-left: 1em solid transparent
        border-top: 1em solid $hint-text
        top: 0

        &:after
          border-left: 1em solid transparent
          border-top: 1em solid white
          content: ""
          left: calc(-1em + 2px)
          position: absolute
          top: calc(-1em + 1px)
          width: 0

form.primary
  margin-left: calc(58px - 0.5em)

  > h1
    color: $primary-color
    font-size: 2em

  @include small
    margin-left: 0
    width: 100%

    > button.cta
      width: 100%

label > h3
  display: inline

input
  &[type="color"]
    background-color: transparent
    -webkit-appearance: none
    border: none
    width: 32px
    height: 32px

    &::-webkit-color-swatch-wrapper
      padding: 0

    &::-webkit-color-swatch
      border: none
      padding: 0
