@import util
@import partials/base
@import sprite_sheets
@import boner

@import ide/entity

@import pixie/editor/tile/main

$sidebar_width: 220px
$lower_sidebar_height: 210px
$inner_margin: 14px

.ace_sb
  background: #141414

.navbar-fixed-top .container
  margin-left: 2em

.code_autocomplete
  +border-radius(3px)
  +border-top-left-radius(0)
  +box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 3px)
  +box-sizing(border-box)

  background-color: #f9f9f9
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: #333
  cursor: pointer
  display: none
  font-family: Monaco, monospace
  font-size: 11px
  max-height: 200px
  max-width: 350px
  overflow-x: hidden
  overflow-y: auto
  position: absolute

  b
    font-weight: bold

  li
    border-bottom: 1px solid transparent
    border-top: 1px solid transparent
    padding-left: 0.3em
    padding-right: 1.5em

    &.selected
      background-color: #B9D0E4

    &:hover
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      border-top: 1px solid rgba(0, 0, 0, 0.2)

      &:first-child
        border-top: 1px solid transparent

      &:last-child
        border-bottom: 1px solid transparent

.static-chrome_webstore, .static-zip, .static-embed
  margin: auto

.static-help
  +bounds(15px)

  display: inline-block
  vertical-align: bottom

#fullscreen.ide
  overflow: hidden
  padding: 0
  padding-top: 40px

  header
    nav.top_bar
      display: none

.ide
  #content
    padding-bottom: 0
    padding-left: $sidebar_width
    padding-top: 0
    position: relative

    #file_Documentation_documentation
      overflow: hidden

  .ui-corner-all
    +border-bottom-radius(0)
    +border-top-right-radius(0)

  section
    .ui-widget-content
      border-bottom: 0

    .module
      padding: 0

  .entity_editor
    padding: 0

    .ace_scroller
      margin-left: 320px

    .left
      +border-radius(0)

      background-color: rgba(0, 0, 0, 0.3)
      height: 100%
      padding: 0.5em
      position: fixed
      margin-left: $sidebar_width
      margin-top: 64px
      padding-bottom: 80px
      overflow-y: auto

      h2
        margin-bottom: 0

      .properties
        td
          padding: 0

nav.top.actions
  margin-left: 20px

  .status
    color: #eee

    input
      background-color: #fff
      color: #000
      padding-left: 5px

.sidebar_container
  +box-sizing(border-box)

  height: 100%
  width: $sidebar_width

  left: 0
  padding-top: 0
  padding-bottom: 0
  position: absolute
  top: 0

  .sidebar
    +bounds(100%)
    +module
    +border-radius(0)

    background-color: #efefef
    border: none
    overflow-y: auto
    padding: 0.5em

    .project_name
      margin: 0
      position: relative

      .edit
        display: none
        position: absolute
        right: 0
        top: 0
        font-size: 12px
        margin: 0

      &:hover
        .edit
          display: inline-block

  .relative
    +bounds(100%)
    +box-sizing(border-box)

    padding-bottom: $lower_sidebar_height + $inner_margin
    position: relative

  .bottom
    +module

    bottom: 0
    height: $lower_sidebar_height
    position: absolute
    padding: 1em
    width: 100%

    &.actionable
      cursor: pointer

      &:hover
        background-color: $hover

#tabs
  +bounds(100%)
  +box-sizing(border-box)
  +border-radius(0)

  border: none
  padding-top: 22px

  .ui-tabs-nav
    +box-sizing(border-box)
    +border-radius(0)

    background: #333
    border: none
    position: absolute
    top: 0px
    width: 100%
    z-index: 11

    .ui-state-default
      +border-radius(0)

      background: #666
      border: none
      margin-right: 1px

      a
        color: #eee

    .ui-state-active
      background: #444

    .ui-tabs-selected
      padding-bottom: 0

    li
      .ui-icon-close
        float: right
        margin: 0.3em 0.2em 0 0
        cursor: pointer

      &.ui-state-default
        cursor: pointer

        a
          cursor: pointer

        &.ui-state-active
          cursor: default

          a
            cursor: default

      a
        +box-sizing(border-box)
        +ellipsis

        font-weight: normal
        padding: 0.3em 0.6em
        width: 100px

      &.unsaved
        a
          font-weight: bold
          &:after
            content: "*"

  &.ui-tabs
    .ui-tabs-hide
      display: none

    .ui-tabs-panel
      +box-sizing(border-box)
      height: 100%
      overflow: hidden
      padding: 0
      position: relative

  form
    height: 100%

#titleModal, #libraries
  display: none

#test_frame, #testFrame
  background-color: #EEE
  border: 1px solid black

.actions
  .status
    +inline-block
    vertical-align: top
    margin-left: 2em
    margin-top: 7px

    .message
      width: 200px

#import_drop_zone
  @extend .static-import

  width: 320px

  p
    bottom: 0
    left: 20px
    font-size: 130%
    position: absolute
    width: 292px

.ide
  .file.error
    cursor: pointer

  #properties_editor_window
    h3
      margin-left: -1px
      margin-right: 3px

  #prop_editor
    input
      border: 1px solid #aaa
      margin-right: 4px
      padding: 2px
      width: 130px

    input[placeholder="key"]
      color: #DB0000

    tr
      display: block
      margin-bottom: -2px

      &.child_property
        margin-left: 15px

        td:first-child input
          width: 115px

    td
      display: inline-block
      margin-left: -1px
      margin-right: -1px

  #console_window
    width: 300px

    textarea
      display: block
      margin-top: 0.5em

    button
      margin-top: 0.5em
      margin-bottom: 0

#export_modal
  .choice
    +border-radius
    +inline-block

    background-color: $light_highlight
    cursor: pointer
    margin: 1em
    padding: 0.5em
    text-align: center

    width: 206px

    &:hover
      background-color: darken($light_highlight, 15%)

    .wrap
      height: 60px

.dropdown-menu
  li
    text-align: left

    .hotkey
      float: right
      font-style: italic

    a
      color: #333

.btn.dropdown-toggle
  color: #333

footer
  display: none
