@import lib/ui

@import variables
@import base

@import animations
@import button
@import card
@import creator
@import comments
@import errors
@import flash
@import form
@import header
@import image
@import invites
@import navigation
@import pagination
@import sprites
@import tags
@import tunes
@import user

.activities
  sprite > a > img
    max-height: 64px
    width: auto
    height: auto

.modal
  display: none

.row
  display: flex
  margin: 0 -0.5rem

  > .column
    flex: 1 1 auto
    padding: 0 0.5rem
    width: 100%
