sprites
  display: block
  margin: 1em

sprite
  background-color: white
  border-radius: 3px
  box-shadow: $item-shadow
  display: inline-block
  margin-right: 3px
  margin-bottom: 3px
  padding: 2px

  & > a > img
    display: block

  > form
    position: absolute
    top: -10px
    left: -2px

    > button
      color: red
      background-color: white
