#forum
  %h1
    = link_to t('forem.forum.forums'), forums_path
    &raquo;
    = link_to forum.title, forum

  %menu
    - unless @topic.try(:new_record?)
      = link_to t('forem.topic.links.new'), new_forum_topic_path(forum), :class => "button"

    - if @topic
      = link_to t('forem.topic.links.back_to_topics'), forum_path(forum), :class => "button"
