.color_picker
  .white_overlay
  .black_overlay
  .color_overlay
    .white_overlay
    .black_overlay
  .slider
    .hue_gradient
  .hue_selector
  .color_inputs
    %label<
      Red
      %input(type="text" class="red")>
    %label<
      Green
      %input(type="text" class="green")>
    %label<
      Blue
      %input(type="text" class="blue")>
    %label<
      Hex
      %input(type="text" class="hex")>
