<!DOCTYPE html>
%html
  = render :partial => "shared/head"

  - body_id = @fullscreen ? "fullscreen" : nil
  %body(class=@theme id=body_id)
    = render :partial => "shared/header"

    .content
      = yield

    = render :partial => "shared/footer"
