<!DOCTYPE html>
%html.light
  = render :partial => "shared/head"

  - body_id = @fullscreen ? "fullscreen" : nil
  %body(id=body_id)
    = render :partial => "shared/header"

    .content
      = yield

    = render :partial => "shared/footer"
