@import "compass/css3/box-sizing"

.pixie
  .canvas
    -moz-user-select: none
    background-color: #ccc
    +box-sizing(border-box)
    height: 100%
    margin-right: 1em
    margin-bottom: 1em
    overflow: auto
    position: relative
    width: 100%

  .viewport
    border: 1px solid #666
    display: inline-block
    height: 512px
    margin-bottom: 1em
    margin-right: 1em
    position: relative
    width: 512px

.pixie
  .frame
    display: none
    position: absolute
    &.current
      display: block

  .layer
    position: absolute
    &.bottom
      background: white url(../images/pixie/pixel_bg.png)

  .pixel
    border-bottom: 1px solid black
    border-right: 1px solid black
    float: left
    height: 15px
    margin: 0
    padding: 0
    width: 15px

  // Holds all the actions
  .actions, .layers
    display: block
    margin-left: 65px

    a.tool
      color: black
      margin: 5px
      padding: .25em

      &:hover
        background-color: #CCC
        text-decoration: none

      &.active
        background-color: #1084CE
        text-decoration: none

  // Holds all the tools
  .toolbar
    display: inline-block
    height: auto
    position: relative
    vertical-align: top
    width: 60px

    // Pencil, Eraser, etc. tool image styles
    .tool
      +box-sizing(border-box)
      height: 40px
      margin: 5px auto 0
      padding-top: 12px
      text-align: center
      width: 40px

      &:hover
        background-color: #CCC

      &.active
        background-color= #1084CE

      img
        border: none

  .swatch
    border: 1px solid #666
    +box-sizing(border-box)
    float: left
    margin: 5px
    width: 16px
    height: 16px

  // Current colors input field
  .color_picker_holder
    height: 76px
    margin-bottom: 12px
    position: relative
    width: 74px

  input.color
    border: 2px solid
    border-color= #CCC
    height: 50px
    position: absolute
    width: 50px

    &.primary
      left: 0
      top: 0
      z-index: 10
    &.secondary
      left: 20px
      top: 20px
      z-index: 1

  // Holds the preview image
  .preview
    border: 1px solid #AAA
    height: 150px
    margin-top: 17px
    position: relative
    width: 150px

  .toggle_holder
    display: block
    margin-left: 70px

  .layers
    display: inline-block
    margin: 0
    margin-top: 1em
    width: 80px

    h3
      margin: 0

    a.tool
      display: inline-block
      height: auto
      margin: 0
      margin-top: 5px
      width: auto

      &.active
        color: white

#newCanvasModal
  #resize_width, #resize_height
    float: right

  input[type="button"]
    margin-top: 10px
